In [1]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

In [3]:
pop2008_1 = pd.read_csv('../pro_data/monthly/pop_200801_200803_1.csv')
pop2008_2 = pd.read_csv('../pro_data/monthly/pop_200804_200806_1.csv')
pop2008_3 = pd.read_csv('../pro_data/monthly/pop_200807_200809_1.csv')
pop2008_4 = pd.read_csv('../pro_data/monthly/pop_200810_200812_1.csv')
table = pd.read_csv('../pro_data/pop_table1.csv')

In [17]:
pop2008_1.head()

,지역번호,지역,2008년01월_계_0~4세,2008년01월_계_5~9세,2008년01월_계_10~14세,2008년01월_계_15~19세,2008년01월_계_20~24세,2008년01월_계_25~29세,2008년01월_계_30~34세,2008년01월_계_35~39세,...,2008년03월_여_55~59세,2008년03월_여_60~64세,2008년03월_여_65~69세,2008년03월_여_70~74세,2008년03월_여_75~79세,2008년03월_여_80~84세,2008년03월_여_85~89세,2008년03월_여_90~94세,2008년03월_여_95~99세,2008년03월_여_100세 이상
0,1100000000,서울특별시,440514.0,519392.0,632177.0,651639.0,721498.0,1005039.0,950897.0,975882.0,...,282492.0,225109.0,189481.0,129466.0,85507.0,52606.0,26962.0,9060.0,1880.0,352.0
1,1111000000,서울특별시 종로구,5296.0,7370.0,10125.0,10735.0,11964.0,15877.0,13189.0,15234.0,...,4694.0,4380.0,4198.0,2812.0,1884.0,1165.0,642.0,233.0,35.0,9.0
2,1111051000,서울특별시 종로구 청운동,129.0,274.0,479.0,467.0,264.0,291.0,262.0,416.0,...,92.0,97.0,98.0,84.0,61.0,24.0,17.0,7.0,2.0,0.0
3,1111052000,서울특별시 종로구 효자동,532.0,679.0,758.0,837.0,765.0,1005.0,1051.0,1190.0,...,341.0,313.0,319.0,211.0,127.0,92.0,48.0,19.0,5.0,1.0
4,1111053000,서울특별시 종로구 사직동,273.0,370.0,397.0,494.0,563.0,793.0,740.0,824.0,...,306.0,268.0,279.0,175.0,126.0,76.0,43.0,16.0,1.0,1.0

In [6]:
table.head()

         지역번호             지역
0  1100000000        서울특별시
1  1111000000     서울특별시 종로구
2  1111051000  서울특별시 종로구 청운동
3  1111052000  서울특별시 종로구 효자동
4  1111053000  서울특별시 종로구 사직동

In [4]:
pop2008 = pd.merge(pop2008_1, table, how='outer')
pop2008 = pd.merge(pop2008_2, pop2008, how='outer')
pop2008 = pd.merge(pop2008_3, pop2008, how='outer')
pop2008 = pd.merge(pop2008_4, pop2008, how='outer')

In [5]:
#여성인구데이터추출
pop2008['1월_여성2030'] = pop2008['2008년01월_여_20~24세'] + pop2008['2008년01월_여_25~29세']+ pop2008['2008년01월_여_30~34세'] + pop2008['2008년01월_여_35~39세'] 
pop2008['2월_여성2030'] = pop2008['2008년02월_여_20~24세'] + pop2008['2008년02월_여_25~29세']+ pop2008['2008년02월_여_30~34세'] + pop2008['2008년02월_여_35~39세'] 
pop2008['3월_여성2030'] = pop2008['2008년03월_여_20~24세'] + pop2008['2008년03월_여_25~29세']+ pop2008['2008년03월_여_30~34세'] + pop2008['2008년03월_여_35~39세'] 
pop2008['4월_여성2030'] = pop2008['2008년04월_여_20~24세'] + pop2008['2008년04월_여_25~29세']+ pop2008['2008년04월_여_30~34세'] + pop2008['2008년04월_여_35~39세'] 
pop2008['5월_여성2030'] = pop2008['2008년05월_여_20~24세'] + pop2008['2008년05월_여_25~29세']+ pop2008['2008년05월_여_30~34세'] + pop2008['2008년05월_여_35~39세'] 
pop2008['6월_여성2030'] = pop2008['2008년06월_여_20~24세'] + pop2008['2008년06월_여_25~29세']+ pop2008['2008년06월_여_30~34세'] + pop2008['2008년06월_여_35~39세'] 
pop2008['7월_여성2030'] = pop2008['2008년07월_여_20~24세'] + pop2008['2008년07월_여_25~29세']+ pop2008['2008년07월_여_30~34세'] + pop2008['2008년07월_여_35~39세'] 
pop2008['8월_여성2030'] = pop2008['2008년08월_여_20~24세'] + pop2008['2008년08월_여_25~29세']+ pop2008['2008년08월_여_30~34세'] + pop2008['2008년08월_여_35~39세'] 
pop2008['9월_여성2030'] = pop2008['2008년09월_여_20~24세'] + pop2008['2008년09월_여_25~29세']+ pop2008['2008년09월_여_30~34세'] + pop2008['2008년09월_여_35~39세'] 
pop2008['10월_여성2030'] = pop2008['2008년10월_여_20~24세'] + pop2008['2008년10월_여_25~29세']+ pop2008['2008년10월_여_30~34세'] + pop2008['2008년10월_여_35~39세'] 
pop2008['11월_여성2030'] = pop2008['2008년11월_여_20~24세'] + pop2008['2008년11월_여_25~29세']+ pop2008['2008년11월_여_30~34세'] + pop2008['2008년11월_여_35~39세'] 
pop2008['12월_여성2030'] = pop2008['2008년12월_여_20~24세'] + pop2008['2008년12월_여_25~29세']+ pop2008['2008년12월_여_30~34세'] + pop2008['2008년12월_여_35~39세']

In [6]:
#65세이상인구데이터추출
pop2008['1월_65세이상'] = pop2008['2008년01월_계_65~69세'] + pop2008['2008년01월_계_70~74세'] + pop2008['2008년01월_계_75~79세'] + pop2008['2008년01월_계_80~84세']+ pop2008['2008년01월_계_85~89세']+ pop2008['2008년01월_계_90~94세']+ pop2008['2008년01월_계_95~99세'] + pop2008['2008년01월_계_100세 이상']
pop2008['2월_65세이상'] = pop2008['2008년02월_계_65~69세'] + pop2008['2008년02월_계_70~74세'] + pop2008['2008년02월_계_75~79세'] + pop2008['2008년02월_계_80~84세']+ pop2008['2008년02월_계_85~89세']+ pop2008['2008년02월_계_90~94세']+ pop2008['2008년02월_계_95~99세'] + pop2008['2008년02월_계_100세 이상']
pop2008['3월_65세이상'] = pop2008['2008년03월_계_65~69세'] + pop2008['2008년03월_계_70~74세'] + pop2008['2008년03월_계_75~79세'] + pop2008['2008년03월_계_80~84세']+ pop2008['2008년03월_계_85~89세']+ pop2008['2008년03월_계_90~94세']+ pop2008['2008년03월_계_95~99세'] + pop2008['2008년03월_계_100세 이상']
pop2008['4월_65세이상'] = pop2008['2008년04월_계_65~69세'] + pop2008['2008년04월_계_70~74세'] + pop2008['2008년04월_계_75~79세'] + pop2008['2008년04월_계_80~84세']+ pop2008['2008년04월_계_85~89세']+ pop2008['2008년04월_계_90~94세']+ pop2008['2008년04월_계_95~99세'] + pop2008['2008년04월_계_100세 이상']
pop2008['5월_65세이상'] = pop2008['2008년05월_계_65~69세'] + pop2008['2008년05월_계_70~74세'] + pop2008['2008년05월_계_75~79세'] + pop2008['2008년05월_계_80~84세']+ pop2008['2008년05월_계_85~89세']+ pop2008['2008년05월_계_90~94세']+ pop2008['2008년05월_계_95~99세'] + pop2008['2008년05월_계_100세 이상']
pop2008['6월_65세이상'] = pop2008['2008년06월_계_65~69세'] + pop2008['2008년06월_계_70~74세'] + pop2008['2008년06월_계_75~79세'] + pop2008['2008년06월_계_80~84세']+ pop2008['2008년06월_계_85~89세']+ pop2008['2008년06월_계_90~94세']+ pop2008['2008년06월_계_95~99세'] + pop2008['2008년06월_계_100세 이상']
pop2008['7월_65세이상'] = pop2008['2008년07월_계_65~69세'] + pop2008['2008년07월_계_70~74세'] + pop2008['2008년07월_계_75~79세'] + pop2008['2008년07월_계_80~84세']+ pop2008['2008년07월_계_85~89세']+ pop2008['2008년07월_계_90~94세']+ pop2008['2008년07월_계_95~99세'] + pop2008['2008년07월_계_100세 이상']
pop2008['8월_65세이상'] = pop2008['2008년08월_계_65~69세'] + pop2008['2008년08월_계_70~74세'] + pop2008['2008년08월_계_75~79세'] + pop2008['2008년08월_계_80~84세']+ pop2008['2008년08월_계_85~89세']+ pop2008['2008년08월_계_90~94세']+ pop2008['2008년08월_계_95~99세'] + pop2008['2008년08월_계_100세 이상']
pop2008['9월_65세이상'] = pop2008['2008년09월_계_65~69세'] + pop2008['2008년09월_계_70~74세'] + pop2008['2008년09월_계_75~79세'] + pop2008['2008년09월_계_80~84세']+ pop2008['2008년09월_계_85~89세']+ pop2008['2008년09월_계_90~94세']+ pop2008['2008년09월_계_95~99세'] + pop2008['2008년09월_계_100세 이상']
pop2008['10월_65세이상'] = pop2008['2008년10월_계_65~69세'] + pop2008['2008년10월_계_70~74세'] + pop2008['2008년10월_계_75~79세'] + pop2008['2008년10월_계_80~84세']+ pop2008['2008년10월_계_85~89세']+ pop2008['2008년10월_계_90~94세']+ pop2008['2008년10월_계_95~99세'] + pop2008['2008년10월_계_100세 이상']
pop2008['11월_65세이상'] = pop2008['2008년11월_계_65~69세'] + pop2008['2008년11월_계_70~74세'] + pop2008['2008년11월_계_75~79세'] + pop2008['2008년11월_계_80~84세']+ pop2008['2008년11월_계_85~89세']+ pop2008['2008년11월_계_90~94세']+ pop2008['2008년11월_계_95~99세'] + pop2008['2008년11월_계_100세 이상']
pop2008['12월_65세이상'] = pop2008['2008년12월_계_65~69세'] + pop2008['2008년12월_계_70~74세'] + pop2008['2008년12월_계_75~79세'] + pop2008['2008년12월_계_80~84세']+ pop2008['2008년12월_계_85~89세']+ pop2008['2008년12월_계_90~94세']+ pop2008['2008년12월_계_95~99세'] + pop2008['2008년12월_계_100세 이상']

In [7]:
pop2008['0801'] = pop2008['1월_여성2030'] / (pop2008['1월_65세이상'] / 2)
pop2008['0802'] = pop2008['2월_여성2030'] / (pop2008['2월_65세이상'] / 2)
pop2008['0803'] = pop2008['3월_여성2030'] / (pop2008['3월_65세이상'] / 2)
pop2008['0804'] = pop2008['4월_여성2030'] / (pop2008['4월_65세이상'] / 2)
pop2008['0805'] = pop2008['5월_여성2030'] / (pop2008['5월_65세이상'] / 2)
pop2008['0806'] = pop2008['6월_여성2030'] / (pop2008['6월_65세이상'] / 2)
pop2008['0807'] = pop2008['7월_여성2030'] / (pop2008['7월_65세이상'] / 2)
pop2008['0808'] = pop2008['8월_여성2030'] / (pop2008['8월_65세이상'] / 2)
pop2008['0809'] = pop2008['9월_여성2030'] / (pop2008['9월_65세이상'] / 2)
pop2008['0810'] = pop2008['10월_여성2030'] / (pop2008['10월_65세이상'] / 2)
pop2008['0811'] = pop2008['11월_여성2030'] / (pop2008['11월_65세이상'] / 2)
pop2008['0812'] = pop2008['12월_여성2030'] / (pop2008['12월_65세이상'] / 2)

In [8]:
pop2008 = pop2008[['지역번호', '지역', '1월_여성2030' ,'2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030' , '12월_여성2030', '1월_65세이상', '2월_65세이상', '3월_65세이상', '4월_65세이상', '5월_65세이상', '6월_65세이상', '7월_65세이상', '8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상', '0801', '0802','0803', '0804', '0805','0806' , '0807' ,'0808' ,'0809', '0810', '0811', '0812']]

In [9]:
pop2008_rate = pop2008[['지역번호', '지역', '0801', '0802','0803', '0804', '0805','0806' , '0807' ,'0808' ,'0809', '0810', '0811', '0812']]

In [24]:
pop2008.head()

,지역번호,지역,1월_여성2030,2월_여성2030,3월_여성2030,4월_여성2030,5월_여성2030,6월_여성2030,7월_여성2030,8월_여성2030,...,0803,0804,0805,0806,0807,0808,0809,0810,0811,0812
0,1100000000,서울특별시,1811457.0,1811312.0,1805755.0,1803677.0,1801280.0,1798682.0,1795116.0,1792264.0,...,4.189716,4.169195,4.151027,4.136442,4.117900,4.094905,4.069941,4.048167,4.027909,4.001025
1,1111000000,서울특별시 종로구,27462.0,27655.0,27637.0,27746.0,27788.0,27918.0,27929.0,27967.0,...,2.850645,2.851153,2.847277,2.853872,2.853100,2.844921,2.827049,2.811485,2.807385,2.793534
2,1111051000,서울특별시 종로구 청운동,671.0,678.0,665.0,658.0,655.0,660.0,665.0,673.0,...,2.618110,2.595661,2.558594,2.593320,2.638889,2.741344,2.754098,2.763860,NaN,NaN
3,1111051500,서울특별시 종로구 청운효자동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.781316,2.745600
4,1111052000,서울특별시 종로구 효자동,2030.0,2027.0,2024.0,2026.0,2029.0,2032.0,2022.0,2015.0,...,2.824843,2.827634,2.847719,2.859958,2.861996,2.828070,2.790763,2.766737,NaN,NaN

In [11]:
woman_senior_2008 = pop2008[['지역번호', '지역', '1월_여성2030' ,'2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030' , '12월_여성2030', '1월_65세이상', '2월_65세이상', '3월_65세이상', '4월_65세이상', '5월_65세이상', '6월_65세이상', '7월_65세이상', '8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]

In [12]:
writer = pd.ExcelWriter('woman_senior_2008.xlsx')
woman_senior_2008.to_excel(writer, 'woman_senior_2008.xlsx')
writer.save()

In [14]:
writer = pd.ExcelWriter('pop2008_rate.xlsx')
pop2008_rate.to_excel(writer,'pop2008_rate.xlsx')
writer.save()

writer = pd.ExcelWriter('pop2008.xlsx')
pop2008.to_excel(writer,'pop2008.xlsx')
writer.save()