In [1]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

In [17]:
pop2009_1 = pd.read_csv('../pro_data/monthly/pop_200901_200903_1.csv')
pop2009_2 = pd.read_csv('../pro_data/monthly/pop_200904_200906_1.csv')
pop2009_3 = pd.read_csv('../pro_data/monthly/pop_200907_200909_1.csv')
pop2009_4 = pd.read_csv('../pro_data/monthly/pop_200910_200912_1.csv')

In [18]:
table = pd.read_csv('../pro_data/pop_table1.csv')

In [19]:
pop2009 = pd.merge(pop2009_1, table, how='outer')
pop2009 = pd.merge(pop2009_2, pop2009, how='outer')
pop2009 = pd.merge(pop2009_3, pop2009, how='outer')
pop2009 = pd.merge(pop2009_4, pop2009, how='outer')

In [20]:
str1 = '월_여성2030'
str2 = ['2009년0' , '월_여_20~24세']
str3 = ['2009년0', '월_여_25~29세']
str4 = ['2009년0', '월_여_30~34세']
str5 = ['2009년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2009[key1] =  pop2009[str2[0] +str(i) + str2[1]] + pop2009[str3[0] +str(i) + str3[1]] + pop2009[str4[0] +str(i) + str4[1]] + pop2009[str5[0] +str(i) + str5[1]]

In [21]:
pop2009['10월_여성2030'] = pop2009['2009년10월_여_20~24세'] + pop2009['2009년10월_여_25~29세']+ pop2009['2009년10월_여_30~34세'] + pop2009['2009년10월_여_35~39세'] 
pop2009['11월_여성2030'] = pop2009['2009년11월_여_20~24세'] + pop2009['2009년11월_여_25~29세']+ pop2009['2009년11월_여_30~34세'] + pop2009['2009년11월_여_35~39세'] 
pop2009['12월_여성2030'] = pop2009['2009년12월_여_20~24세'] + pop2009['2009년12월_여_25~29세']+ pop2009['2009년12월_여_30~34세'] + pop2009['2009년12월_여_35~39세']

In [23]:
pop2009['10월_65세이상'] = pop2009['2009년10월_계_65~69세'] + pop2009['2009년10월_계_70~74세'] + pop2009['2009년10월_계_75~79세'] + pop2009['2009년10월_계_80~84세']+ pop2009['2009년10월_계_85~89세']+ pop2009['2009년10월_계_90~94세']+ pop2009['2009년10월_계_95~99세'] + pop2009['2009년10월_계_100세 이상']
pop2009['11월_65세이상'] = pop2009['2009년11월_계_65~69세'] + pop2009['2009년11월_계_70~74세'] + pop2009['2009년11월_계_75~79세'] + pop2009['2009년11월_계_80~84세']+ pop2009['2009년11월_계_85~89세']+ pop2009['2009년11월_계_90~94세']+ pop2009['2009년11월_계_95~99세'] + pop2009['2009년11월_계_100세 이상']
pop2009['12월_65세이상'] = pop2009['2009년12월_계_65~69세'] + pop2009['2009년12월_계_70~74세'] + pop2009['2009년12월_계_75~79세'] + pop2009['2009년12월_계_80~84세']+ pop2009['2009년12월_계_85~89세']+ pop2009['2009년12월_계_90~94세']+ pop2009['2009년12월_계_95~99세'] + pop2009['2009년12월_계_100세 이상']

In [22]:
str1 = '월_65세이상' 
str2 = ['2009년0' , '월_계_65~69세']
str3 = ['2009년0', '월_계_70~74세']
str4 = ['2009년0', '월_계_75~79세']
str5 = ['2009년0', '월_계_80~84세']
str6 = ['2009년0', '월_계_85~89세']
str7 = ['2009년0', '월_계_90~94세']
str8 = ['2009년0', '월_계_95~99세']
str9 = ['2009년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2009[key1] =  pop2009[str2[0] +str(i) + str2[1]] + pop2009[str3[0] +str(i) + str3[1]] + pop2009[str4[0] +str(i) + str4[1]] + pop2009[str5[0] +str(i) + str5[1]] + pop2009[str6[0] +str(i) + str6[1]] + pop2009[str7[0] +str(i) + str7[1]] + pop2009[str8[0] +str(i) + str8[1]] + pop2009[str9[0] +str(i) + str9[1]]

In [24]:
str1 = '090'
str2 = '월_여성2030'
str3 = '월_65세이상'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2009[key1] = pop2009[str(i)+str2] / (pop2009[str(i)+str3] /2)

In [25]:
pop2009['0910'] = pop2009['10월_여성2030'] / (pop2009['10월_65세이상'] / 2)
pop2009['0911'] = pop2009['11월_여성2030'] / (pop2009['11월_65세이상'] / 2)
pop2009['0912'] = pop2009['12월_여성2030'] / (pop2009['12월_65세이상'] / 2)

In [30]:
pop2009_revised = pop2009[['지역번호', '지역', '0901', '0902','0903', '0904', '0905','0906' , '0907' ,'0908' ,'0909', '0910', '0911', '0912']]

In [29]:
pop2009_1.head()

,지역번호,지역,0901,0902,0903,0904,0905,0906,0907,0908,0909,0910,0911,0912
0,1100000000,서울특별시,3.971172,3.953005,3.922461,3.890892,3.869695,3.855952,3.838901,3.816639,3.793204,3.771288,3.754395,3.733568
1,1111000000,서울특별시 종로구,2.776633,2.759012,2.739552,2.712477,2.700764,2.694907,2.681010,2.671770,2.651688,2.634439,2.628869,2.627111
2,1111051500,서울특별시 종로구 청운효자동,2.701867,2.690209,2.687534,2.682609,2.653722,2.646649,2.627745,2.626208,2.589429,2.594017,2.599359,2.597015
3,1111053000,서울특별시 종로구 사직동,2.474852,2.423616,2.405007,2.401171,2.388687,2.399126,2.418605,2.406363,2.436865,2.388125,2.387563,2.415641
4,1111054000,서울특별시 종로구 삼청동,1.925043,1.918644,1.891156,1.911111,1.911111,1.907216,1.944348,1.933682,1.929825,1.939929,1.921708,1.886121

In [32]:
pop2009_1 = pd.read_csv('../pro_data/monthly/pop_200901_200903_1.csv')
pop2009_2 = pd.read_csv('../pro_data/monthly/pop_200904_200906_1.csv')
pop2009_3 = pd.read_csv('../pro_data/monthly/pop_200907_200909_1.csv')
pop2009_4 = pd.read_csv('../pro_data/monthly/pop_200910_200912_1.csv')

pop2010_1 = pd.read_csv('../pro_data/monthly/pop_201001_201003_1.csv')
pop2010_2 = pd.read_csv('../pro_data/monthly/pop_201004_201006_1.csv')
pop2010_3 = pd.read_csv('../pro_data/monthly/pop_201007_201009_1.csv')
pop2010_4 = pd.read_csv('../pro_data/monthly/pop_201010_201012_1.csv')

pop2011_1 = pd.read_csv('../pro_data/monthly/pop_201101_201103_1.csv')
pop2011_2 = pd.read_csv('../pro_data/monthly/pop_201104_201106_1.csv')
pop2011_3 = pd.read_csv('../pro_data/monthly/pop_201107_201109_1.csv')
pop2011_4 = pd.read_csv('../pro_data/monthly/pop_201110_201112_1.csv')

pop2012_1 = pd.read_csv('../pro_data/monthly/pop_201201_201203_1.csv')
pop2012_2 = pd.read_csv('../pro_data/monthly/pop_201204_201206_1.csv')
pop2012_3 = pd.read_csv('../pro_data/monthly/pop_201207_201209_1.csv')
pop2012_4 = pd.read_csv('../pro_data/monthly/pop_201210_201212_1.csv')

pop2013_1 = pd.read_csv('../pro_data/monthly/pop_201301_201303_1.csv')
pop2013_2 = pd.read_csv('../pro_data/monthly/pop_201304_201306_1.csv')
pop2013_3 = pd.read_csv('../pro_data/monthly/pop_201307_201309_1.csv')
pop2013_4 = pd.read_csv('../pro_data/monthly/pop_201310_201312_1.csv')

pop2014_1 = pd.read_csv('../pro_data/monthly/pop_201401_201403_1.csv')
pop2014_2 = pd.read_csv('../pro_data/monthly/pop_201404_201406_1.csv')
pop2014_3 = pd.read_csv('../pro_data/monthly/pop_201407_201409_1.csv')
pop2014_4 = pd.read_csv('../pro_data/monthly/pop_201410_201412_1.csv')

pop2015_1 = pd.read_csv('../pro_data/monthly/pop_201501_201503_1.csv')
pop2015_2 = pd.read_csv('../pro_data/monthly/pop_201504_201506_1.csv')
pop2015_3 = pd.read_csv('../pro_data/monthly/pop_201507_201509_1.csv')
pop2015_4 = pd.read_csv('../pro_data/monthly/pop_201510_201512_1.csv')

pop2016_1 = pd.read_csv('../pro_data/monthly/pop_201601_201603_1.csv')
pop2016_2 = pd.read_csv('../pro_data/monthly/pop_201604_201606_1.csv')
pop2016_3 = pd.read_csv('../pro_data/monthly/pop_201607_201609_1.csv')
pop2016_4 = pd.read_csv('../pro_data/monthly/pop_201610_201612_1.csv')

pop2017_1 = pd.read_csv('../pro_data/monthly/pop_201701_201703_1.csv')
pop2017_2 = pd.read_csv('../pro_data/monthly/pop_201704_201706_1.csv')
pop2017_3 = pd.read_csv('../pro_data/monthly/pop_201707_201709_1.csv')
pop2017_4 = pd.read_csv('../pro_data/monthly/pop_201710_201712_1.csv')


table = pd.read_csv('../pro_data/pop_table1.csv')

In [33]:
pop2009 = pd.merge(pop2009_1, table, how='outer')
pop2009 = pd.merge(pop2009_2, pop2009, how='outer')
pop2009 = pd.merge(pop2009_3, pop2009, how='outer')
pop2009 = pd.merge(pop2009_4, pop2009, how='outer')

pop2010 = pd.merge(pop2010_1, table, how='outer')
pop2010 = pd.merge(pop2010_2, pop2010, how='outer')
pop2010 = pd.merge(pop2010_3, pop2010, how='outer')
pop2010 = pd.merge(pop2010_4, pop2010, how='outer')

pop2011 = pd.merge(pop2011_1, table, how='outer')
pop2011 = pd.merge(pop2011_2, pop2011, how='outer')
pop2011 = pd.merge(pop2011_3, pop2011, how='outer')
pop2011 = pd.merge(pop2011_4, pop2011, how='outer')

pop2012 = pd.merge(pop2012_1, table, how='outer')
pop2012 = pd.merge(pop2012_2, pop2012, how='outer')
pop2012 = pd.merge(pop2012_3, pop2012, how='outer')
pop2012 = pd.merge(pop2012_4, pop2012, how='outer')

pop2013 = pd.merge(pop2013_1, table, how='outer')
pop2013 = pd.merge(pop2013_2, pop2013, how='outer')
pop2013 = pd.merge(pop2013_3, pop2013, how='outer')
pop2013 = pd.merge(pop2013_4, pop2013, how='outer')

pop2014 = pd.merge(pop2014_1, table, how='outer')
pop2014 = pd.merge(pop2014_2, pop2014, how='outer')
pop2014 = pd.merge(pop2014_3, pop2014, how='outer')
pop2014 = pd.merge(pop2014_4, pop2014, how='outer')

pop2015 = pd.merge(pop2015_1, table, how='outer')
pop2015 = pd.merge(pop2015_2, pop2015, how='outer')
pop2015 = pd.merge(pop2015_3, pop2015, how='outer')
pop2015 = pd.merge(pop2015_4, pop2015, how='outer')

pop2016 = pd.merge(pop2016_1, table, how='outer')
pop2016 = pd.merge(pop2016_2, pop2016, how='outer')
pop2016 = pd.merge(pop2016_3, pop2016, how='outer')
pop2016 = pd.merge(pop2016_4, pop2016, how='outer')

pop2017 = pd.merge(pop2017_1, table, how='outer')
pop2017 = pd.merge(pop2017_2, pop2017, how='outer')
pop2017 = pd.merge(pop2017_3, pop2017, how='outer')
pop2017 = pd.merge(pop2017_4, pop2017, how='outer')

In [34]:
str1 = '월_여성2030'
str2 = ['2009년0' , '월_여_20~24세']
str3 = ['2009년0', '월_여_25~29세']
str4 = ['2009년0', '월_여_30~34세']
str5 = ['2009년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2009[key1] =  pop2009[str2[0] +str(i) + str2[1]] + pop2009[str3[0] +str(i) + str3[1]] + pop2009[str4[0] +str(i) + str4[1]] + pop2009[str5[0] +str(i) + str5[1]]

In [35]:
str1 = '월_여성2030'
str2 = ['2010년0' , '월_여_20~24세']
str3 = ['2010년0', '월_여_25~29세']
str4 = ['2010년0', '월_여_30~34세']
str5 = ['2010년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2010[key1] =  pop2010[str2[0] +str(i) + str2[1]] + pop2010[str3[0] +str(i) + str3[1]] + pop2010[str4[0] +str(i) + str4[1]] + pop2010[str5[0] +str(i) + str5[1]]

In [36]:
str1 = '월_여성2030'
str2 = ['2011년0' , '월_여_20~24세']
str3 = ['2011년0', '월_여_25~29세']
str4 = ['2011년0', '월_여_30~34세']
str5 = ['2011년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2011[key1] =  pop2011[str2[0] +str(i) + str2[1]] + pop2011[str3[0] +str(i) + str3[1]] + pop2011[str4[0] +str(i) + str4[1]] + pop2011[str5[0] +str(i) + str5[1]]

In [37]:
str1 = '월_여성2030'
str2 = ['2012년0' , '월_여_20~24세']
str3 = ['2012년0', '월_여_25~29세']
str4 = ['2012년0', '월_여_30~34세']
str5 = ['2012년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2012[key1] =  pop2012[str2[0] +str(i) + str2[1]] + pop2012[str3[0] +str(i) + str3[1]] + pop2012[str4[0] +str(i) + str4[1]] + pop2012[str5[0] +str(i) + str5[1]]

In [38]:
str1 = '월_여성2030'
str2 = ['2013년0' , '월_여_20~24세']
str3 = ['2013년0', '월_여_25~29세']
str4 = ['2013년0', '월_여_30~34세']
str5 = ['2013년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2013[key1] =  pop2013[str2[0] +str(i) + str2[1]] + pop2013[str3[0] +str(i) + str3[1]] + pop2013[str4[0] +str(i) + str4[1]] + pop2013[str5[0] +str(i) + str5[1]]

In [39]:
str1 = '월_여성2030'
str2 = ['2014년0' , '월_여_20~24세']
str3 = ['2014년0', '월_여_25~29세']
str4 = ['2014년0', '월_여_30~34세']
str5 = ['2014년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2014[key1] =  pop2014[str2[0] +str(i) + str2[1]] + pop2014[str3[0] +str(i) + str3[1]] + pop2014[str4[0] +str(i) + str4[1]] + pop2014[str5[0] +str(i) + str5[1]]

In [40]:
str1 = '월_여성2030'
str2 = ['2015년0' , '월_여_20~24세']
str3 = ['2015년0', '월_여_25~29세']
str4 = ['2015년0', '월_여_30~34세']
str5 = ['2015년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2015[key1] =  pop2015[str2[0] +str(i) + str2[1]] + pop2015[str3[0] +str(i) + str3[1]] + pop2015[str4[0] +str(i) + str4[1]] + pop2015[str5[0] +str(i) + str5[1]]

In [41]:
str1 = '월_여성2030'
str2 = ['2016년0' , '월_여_20~24세']
str3 = ['2016년0', '월_여_25~29세']
str4 = ['2016년0', '월_여_30~34세']
str5 = ['2016년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2016[key1] =  pop2016[str2[0] +str(i) + str2[1]] + pop2016[str3[0] +str(i) + str3[1]] + pop2016[str4[0] +str(i) + str4[1]] + pop2016[str5[0] +str(i) + str5[1]]

In [42]:
str1 = '월_여성2030'
str2 = ['2017년0' , '월_여_20~24세']
str3 = ['2017년0', '월_여_25~29세']
str4 = ['2017년0', '월_여_30~34세']
str5 = ['2017년0', '월_여_35~39세']
for i in range(1,10):
    key1 = str(i)+str1
    pop2017[key1] =  pop2017[str2[0] +str(i) + str2[1]] + pop2017[str3[0] +str(i) + str3[1]] + pop2017[str4[0] +str(i) + str4[1]] + pop2017[str5[0] +str(i) + str5[1]]

In [43]:
pop2009['10월_여성2030'] = pop2009['2009년10월_여_20~24세'] + pop2009['2009년10월_여_25~29세']+ pop2009['2009년10월_여_30~34세'] + pop2009['2009년10월_여_35~39세'] 
pop2009['11월_여성2030'] = pop2009['2009년11월_여_20~24세'] + pop2009['2009년11월_여_25~29세']+ pop2009['2009년11월_여_30~34세'] + pop2009['2009년11월_여_35~39세'] 
pop2009['12월_여성2030'] = pop2009['2009년12월_여_20~24세'] + pop2009['2009년12월_여_25~29세']+ pop2009['2009년12월_여_30~34세'] + pop2009['2009년12월_여_35~39세'] 

pop2010['10월_여성2030'] = pop2010['2010년10월_여_20~24세'] + pop2010['2010년10월_여_25~29세']+ pop2010['2010년10월_여_30~34세'] + pop2010['2010년10월_여_35~39세'] 
pop2010['11월_여성2030'] = pop2010['2010년11월_여_20~24세'] + pop2010['2010년11월_여_25~29세']+ pop2010['2010년11월_여_30~34세'] + pop2010['2010년11월_여_35~39세'] 
pop2010['12월_여성2030'] = pop2010['2010년12월_여_20~24세'] + pop2010['2010년12월_여_25~29세']+ pop2010['2010년12월_여_30~34세'] + pop2010['2010년12월_여_35~39세'] 

pop2011['10월_여성2030'] = pop2011['2011년10월_여_20~24세'] + pop2011['2011년10월_여_25~29세']+ pop2011['2011년10월_여_30~34세'] + pop2011['2011년10월_여_35~39세'] 
pop2011['11월_여성2030'] = pop2011['2011년11월_여_20~24세'] + pop2011['2011년11월_여_25~29세']+ pop2011['2011년11월_여_30~34세'] + pop2011['2011년11월_여_35~39세'] 
pop2011['12월_여성2030'] = pop2011['2011년12월_여_20~24세'] + pop2011['2011년12월_여_25~29세']+ pop2011['2011년12월_여_30~34세'] + pop2011['2011년12월_여_35~39세']

In [44]:
pop2012['10월_여성2030'] = pop2012['2012년10월_여_20~24세'] + pop2012['2012년10월_여_25~29세']+ pop2012['2012년10월_여_30~34세'] + pop2012['2012년10월_여_35~39세'] 
pop2012['11월_여성2030'] = pop2012['2012년11월_여_20~24세'] + pop2012['2012년11월_여_25~29세']+ pop2012['2012년11월_여_30~34세'] + pop2012['2012년11월_여_35~39세'] 
pop2012['12월_여성2030'] = pop2012['2012년12월_여_20~24세'] + pop2012['2012년12월_여_25~29세']+ pop2012['2012년12월_여_30~34세'] + pop2012['2012년12월_여_35~39세'] 

pop2013['10월_여성2030'] = pop2013['2013년10월_여_20~24세'] + pop2013['2013년10월_여_25~29세']+ pop2013['2013년10월_여_30~34세'] + pop2013['2013년10월_여_35~39세'] 
pop2013['11월_여성2030'] = pop2013['2013년11월_여_20~24세'] + pop2013['2013년11월_여_25~29세']+ pop2013['2013년11월_여_30~34세'] + pop2013['2013년11월_여_35~39세'] 
pop2013['12월_여성2030'] = pop2013['2013년12월_여_20~24세'] + pop2013['2013년12월_여_25~29세']+ pop2013['2013년12월_여_30~34세'] + pop2013['2013년12월_여_35~39세'] 

pop2014['10월_여성2030'] = pop2014['2014년10월_여_20~24세'] + pop2014['2014년10월_여_25~29세']+ pop2014['2014년10월_여_30~34세'] + pop2014['2014년10월_여_35~39세'] 
pop2014['11월_여성2030'] = pop2014['2014년11월_여_20~24세'] + pop2014['2014년11월_여_25~29세']+ pop2014['2014년11월_여_30~34세'] + pop2014['2014년11월_여_35~39세'] 
pop2014['12월_여성2030'] = pop2014['2014년12월_여_20~24세'] + pop2014['2014년12월_여_25~29세']+ pop2014['2014년12월_여_30~34세'] + pop2014['2014년12월_여_35~39세'] 

pop2015['10월_여성2030'] = pop2015['2015년10월_여_20~24세'] + pop2015['2015년10월_여_25~29세']+ pop2015['2015년10월_여_30~34세'] + pop2015['2015년10월_여_35~39세'] 
pop2015['11월_여성2030'] = pop2015['2015년11월_여_20~24세'] + pop2015['2015년11월_여_25~29세']+ pop2015['2015년11월_여_30~34세'] + pop2015['2015년11월_여_35~39세'] 
pop2015['12월_여성2030'] = pop2015['2015년12월_여_20~24세'] + pop2015['2015년12월_여_25~29세']+ pop2015['2015년12월_여_30~34세'] + pop2015['2015년12월_여_35~39세'] 

pop2016['10월_여성2030'] = pop2016['2016년10월_여_20~24세'] + pop2016['2016년10월_여_25~29세']+ pop2016['2016년10월_여_30~34세'] + pop2016['2016년10월_여_35~39세'] 
pop2016['11월_여성2030'] = pop2016['2016년11월_여_20~24세'] + pop2016['2016년11월_여_25~29세']+ pop2016['2016년11월_여_30~34세'] + pop2016['2016년11월_여_35~39세'] 
pop2016['12월_여성2030'] = pop2016['2016년12월_여_20~24세'] + pop2016['2016년12월_여_25~29세']+ pop2016['2016년12월_여_30~34세'] + pop2016['2016년12월_여_35~39세'] 

pop2017['10월_여성2030'] = pop2017['2017년10월_여_20~24세'] + pop2017['2017년10월_여_25~29세']+ pop2017['2017년10월_여_30~34세'] + pop2017['2017년10월_여_35~39세'] 
pop2017['11월_여성2030'] = pop2017['2017년11월_여_20~24세'] + pop2017['2017년11월_여_25~29세']+ pop2017['2017년11월_여_30~34세'] + pop2017['2017년11월_여_35~39세'] 
pop2017['12월_여성2030'] = pop2017['2017년12월_여_20~24세'] + pop2017['2017년12월_여_25~29세']+ pop2017['2017년12월_여_30~34세'] + pop2017['2017년12월_여_35~39세']

In [45]:
pop2012.loc[3630:, ['지역', '7월_여성2030', '12월_여성2030']]

                        지역  7월_여성2030  12월_여성2030
3630          경상남도 양산시 중앙동     1494.0      1509.0
3631          경상남도 양산시 양주동     6035.0      5978.0
3632          경상남도 양산시 삼성동     3541.0      3510.0
3633          경상남도 양산시 강서동     1640.0      1665.0
3634          경상남도 양산시 서창동     3934.0      3902.0
3635          경상남도 양산시 소주동     2729.0      2736.0
3636          경상남도 양산시 평산동     4656.0      4560.0
3637          경상남도 양산시 덕계동     1490.0      1462.0
3638             경상남도 의령군      2479.0      2582.0
3639          경상남도 의령군 의령읍     1122.0      1159.0
3640          경상남도 의령군 가례면      146.0       160.0
3641          경상남도 의령군 칠곡면       80.0        81.0
3642          경상남도 의령군 대의면       76.0        75.0
3643          경상남도 의령군 화정면      128.0       123.0
3644          경상남도 의령군 용덕면      134.0       137.0
3645          경상남도 의령군 정곡면       99.0       110.0
3646          경상남도 의령군 지정면      151.0       149.0
3647          경상남도 의령군 낙서면       58.0        73.0
3648          경상남도 의령군 부림면      276.0       281.0
3649          경상남도 의령군 봉수면       62.0        66.0
3650          경상남도 의령군 궁류면       74.0        91.0
3651          경상남도 의령군 유곡면       73.0        77.0
3652             경상남도 함안군      7215.0      7191.0
3653          경상남도 함안군 가야읍     2152.0      2155.0
3654          경상남도 함안군 함안면      229.0       207.0
3655          경상남도 함안군 군북면      479.0       462.0
3656          경상남도 함안군 법수면      213.0       209.0
3657          경상남도 함안군 대산면      270.0       252.0
3658          경상남도 함안군 칠서면      711.0       675.0
3659          경상남도 함안군 칠북면      140.0       146.0
...                    ...        ...         ...
4301           경기도 부천시 신흥동        NaN         NaN
4302           경기도 평택시 청북읍        NaN         NaN
4303         강원도 영월군 무릉도원면        NaN         NaN
4304          세종특별자치시  고운동        NaN         NaN
4305          세종특별자치시  보람동        NaN         NaN
4306         충청북도 제천시 의림지동        NaN         NaN
4307          충청북도 제천시 중앙동        NaN         NaN
4308     전라남도 순천시 해룡면신대출장소        NaN         NaN
4309  경상남도 창원시 마산합포구 반월중앙동        NaN         NaN
4310    경상남도 창원시 마산회원구 석전동        NaN         NaN
4311          경상남도 진주시 상대동        NaN         NaN
4312          경상남도 진주시 하대동        NaN         NaN
4313          경기도 의정부시 흥선동        NaN         NaN
4314          경기도 김포시 김포본동        NaN         NaN
4315          경기도 김포시 장기본동        NaN         NaN
4316        경기도 안산시 상록구 사동        NaN         NaN
4317       경기도 안산시 상록구 사이동        NaN         NaN
4318       경기도 안산시 상록구 해양동        NaN         NaN
4319       경기도 안산시 단원구 고잔동        NaN         NaN
4320       경기도 안산시 단원구 중앙동        NaN         NaN
4321       경기도 안산시 단원구 원곡동        NaN         NaN
4322       경기도 안산시 단원구 백운동        NaN         NaN
4323       경기도 안산시 단원구 신길동        NaN         NaN
4324          충청남도 홍성군 홍북읍        NaN         NaN
4325          세종특별자치시  새롬동        NaN         NaN
4326      경기도 수원시 영통구 영통3동        NaN         NaN
4327         경기도 남양주시 다산1동        NaN         NaN
4328         경기도 남양주시 다산2동        NaN         NaN
4329       경기도 용인시 처인구 모현읍        NaN         NaN
4330       경기도 용인시 처인구 이동읍        NaN         NaN

[701 rows x 3 columns]

In [46]:
pop2012.columns[200:]

Index(['2012년12월_여_70~74세', '2012년12월_여_75~79세', '2012년12월_여_80~84세',
       '2012년12월_여_85~89세', '2012년12월_여_90~94세', '2012년12월_여_95~99세',
       '2012년12월_여_100세 이상', '2012년07월_계_0~4세', '2012년07월_계_5~9세',
       '2012년07월_계_10~14세',
       ...
       '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030',
       '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030'],
      dtype='object', length=634)

In [47]:
writer = pd.ExcelWriter('pop_monthly_rate.xlsx')
pop2009.to_excel(writer,'pop2009.xlsx')
pop2010.to_excel(writer,'pop2010.xlsx')
pop2011.to_excel(writer,'pop2011.xlsx')
pop2012.to_excel(writer,'pop2012.xlsx')
pop2013.to_excel(writer,'pop2013.xlsx')
pop2014.to_excel(writer,'pop2014.xlsx')
pop2015.to_excel(writer,'pop2015.xlsx')
pop2016.to_excel(writer,'pop2016.xlsx')
pop2017.to_excel(writer,'pop2017.xlsx')
writer.save()

KeyboardInterrupt:

## 여성인구수 (20_30대)

In [ ]:
woman2009 = pop2009[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2010 = pop2010[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2011 = pop2011[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2012 = pop2012[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2013 = pop2013[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2014 = pop2014[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2015 = pop2015[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2016 = pop2016[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]
woman2017 = pop2017[['지역번호', '지역', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030']]

In [ ]:
writer = pd.ExcelWriter('woman_monthly_rate1.xlsx')
woman2009.to_excel(writer,'woman2009.xlsx')
woman2010.to_excel(writer,'woman2010.xlsx')
woman2011.to_excel(writer,'woman2011.xlsx')
woman2012.to_excel(writer,'woman2012.xlsx')
woman2013.to_excel(writer,'woman2013.xlsx')
woman2014.to_excel(writer,'woman2014.xlsx')
woman2015.to_excel(writer,'woman2015.xlsx')
woman2016.to_excel(writer,'woman2016.xlsx')
woman2017.to_excel(writer,'woman2017.xlsx')
writer.save()

## 노인인구수

In [48]:
str1 = '월_65세이상' 
str2 = ['2009년0' , '월_계_65~69세']
str3 = ['2009년0', '월_계_70~74세']
str4 = ['2009년0', '월_계_75~79세']
str5 = ['2009년0', '월_계_80~84세']
str6 = ['2009년0', '월_계_85~89세']
str7 = ['2009년0', '월_계_90~94세']
str8 = ['2009년0', '월_계_95~99세']
str9 = ['2009년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2009[key1] =  pop2009[str2[0] +str(i) + str2[1]] + pop2009[str3[0] +str(i) + str3[1]] + pop2009[str4[0] +str(i) + str4[1]] + pop2009[str5[0] +str(i) + str5[1]] + pop2009[str6[0] +str(i) + str6[1]] + pop2009[str7[0] +str(i) + str7[1]] + pop2009[str8[0] +str(i) + str8[1]] + pop2009[str9[0] +str(i) + str9[1]]

In [49]:
str1 = '월_65세이상' 
str2 = ['2010년0' , '월_계_65~69세']
str3 = ['2010년0', '월_계_70~74세']
str4 = ['2010년0', '월_계_75~79세']
str5 = ['2010년0', '월_계_80~84세']
str6 = ['2010년0', '월_계_85~89세']
str7 = ['2010년0', '월_계_90~94세']
str8 = ['2010년0', '월_계_95~99세']
str9 = ['2010년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2010[key1] =  pop2010[str2[0] +str(i) + str2[1]] + pop2010[str3[0] +str(i) + str3[1]] + pop2010[str4[0] +str(i) + str4[1]] + pop2010[str5[0] +str(i) + str5[1]] + pop2010[str6[0] +str(i) + str6[1]] + pop2010[str7[0] +str(i) + str7[1]] + pop2010[str8[0] +str(i) + str8[1]] + pop2010[str9[0] +str(i) + str9[1]]

In [50]:
str1 = '월_65세이상' 
str2 = ['2011년0' , '월_계_65~69세']
str3 = ['2011년0', '월_계_70~74세']
str4 = ['2011년0', '월_계_75~79세']
str5 = ['2011년0', '월_계_80~84세']
str6 = ['2011년0', '월_계_85~89세']
str7 = ['2011년0', '월_계_90~94세']
str8 = ['2011년0', '월_계_95~99세']
str9 = ['2011년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2011[key1] =  pop2011[str2[0] +str(i) + str2[1]] + pop2011[str3[0] +str(i) + str3[1]] + pop2011[str4[0] +str(i) + str4[1]] + pop2011[str5[0] +str(i) + str5[1]] + pop2011[str6[0] +str(i) + str6[1]] + pop2011[str7[0] +str(i) + str7[1]] + pop2011[str8[0] +str(i) + str8[1]] + pop2011[str9[0] +str(i) + str9[1]]

In [51]:
str1 = '월_65세이상' 
str2 = ['2012년0' , '월_계_65~69세']
str3 = ['2012년0', '월_계_70~74세']
str4 = ['2012년0', '월_계_75~79세']
str5 = ['2012년0', '월_계_80~84세']
str6 = ['2012년0', '월_계_85~89세']
str7 = ['2012년0', '월_계_90~94세']
str8 = ['2012년0', '월_계_95~99세']
str9 = ['2012년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2012[key1] =  pop2012[str2[0] +str(i) + str2[1]] + pop2012[str3[0] +str(i) + str3[1]] + pop2012[str4[0] +str(i) + str4[1]] + pop2012[str5[0] +str(i) + str5[1]] + pop2012[str6[0] +str(i) + str6[1]] + pop2012[str7[0] +str(i) + str7[1]] + pop2012[str8[0] +str(i) + str8[1]] + pop2012[str9[0] +str(i) + str9[1]]

In [52]:
str1 = '월_65세이상' 
str2 = ['2013년0' , '월_계_65~69세']
str3 = ['2013년0', '월_계_70~74세']
str4 = ['2013년0', '월_계_75~79세']
str5 = ['2013년0', '월_계_80~84세']
str6 = ['2013년0', '월_계_85~89세']
str7 = ['2013년0', '월_계_90~94세']
str8 = ['2013년0', '월_계_95~99세']
str9 = ['2013년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2013[key1] =  pop2013[str2[0] +str(i) + str2[1]] + pop2013[str3[0] +str(i) + str3[1]] + pop2013[str4[0] +str(i) + str4[1]] + pop2013[str5[0] +str(i) + str5[1]] + pop2013[str6[0] +str(i) + str6[1]] + pop2013[str7[0] +str(i) + str7[1]] + pop2013[str8[0] +str(i) + str8[1]] + pop2013[str9[0] +str(i) + str9[1]]

In [53]:
str1 = '월_65세이상' 
str2 = ['2014년0' , '월_계_65~69세']
str3 = ['2014년0', '월_계_70~74세']
str4 = ['2014년0', '월_계_75~79세']
str5 = ['2014년0', '월_계_80~84세']
str6 = ['2014년0', '월_계_85~89세']
str7 = ['2014년0', '월_계_90~94세']
str8 = ['2014년0', '월_계_95~99세']
str9 = ['2014년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2014[key1] =  pop2014[str2[0] +str(i) + str2[1]] + pop2014[str3[0] +str(i) + str3[1]] + pop2014[str4[0] +str(i) + str4[1]] + pop2014[str5[0] +str(i)+str5[1]] + pop2014[str6[0] +str(i) + str6[1]] + pop2014[str7[0] +str(i) + str7[1]] + pop2014[str8[0] +str(i) + str8[1]] + pop2014[str9[0] +str(i) + str9[1]]

In [54]:
str1 = '월_65세이상' 
str2 = ['2015년0' , '월_계_65~69세']
str3 = ['2015년0', '월_계_70~74세']
str4 = ['2015년0', '월_계_75~79세']
str5 = ['2015년0', '월_계_80~84세']
str6 = ['2015년0', '월_계_85~89세']
str7 = ['2015년0', '월_계_90~94세']
str8 = ['2015년0', '월_계_95~99세']
str9 = ['2015년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2015[key1] =  pop2015[str2[0] +str(i) + str2[1]] + pop2015[str3[0] +str(i) + str3[1]] + pop2015[str4[0] +str(i) + str4[1]] + pop2015[str5[0] +str(i) + str5[1]] + pop2015[str6[0] +str(i) + str6[1]] + pop2015[str7[0] +str(i) + str7[1]] + pop2015[str8[0] +str(i) + str8[1]] + pop2015[str9[0] +str(i) + str9[1]]

In [55]:
str1 = '월_65세이상' 
str2 = ['2016년0' , '월_계_65~69세']
str3 = ['2016년0', '월_계_70~74세']
str4 = ['2016년0', '월_계_75~79세']
str5 = ['2016년0', '월_계_80~84세']
str6 = ['2016년0', '월_계_85~89세']
str7 = ['2016년0', '월_계_90~94세']
str8 = ['2016년0', '월_계_95~99세']
str9 = ['2016년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2016[key1] =  pop2016[str2[0] +str(i) + str2[1]] + pop2016[str3[0] +str(i) + str3[1]] + pop2016[str4[0] +str(i) + str4[1]] + pop2016[str5[0] +str(i) + str5[1]] + pop2016[str6[0] +str(i) + str6[1]] + pop2016[str7[0] +str(i) + str7[1]] + pop2016[str8[0] +str(i) + str8[1]] + pop2016[str9[0] +str(i) + str9[1]]

In [56]:
str1 = '월_65세이상' 
str2 = ['2017년0' , '월_계_65~69세']
str3 = ['2017년0', '월_계_70~74세']
str4 = ['2017년0', '월_계_75~79세']
str5 = ['2017년0', '월_계_80~84세']
str6 = ['2017년0', '월_계_85~89세']
str7 = ['2017년0', '월_계_90~94세']
str8 = ['2017년0', '월_계_95~99세']
str9 = ['2017년0', '월_계_100세 이상']


for i in range(1,10):
    key1 = str(i)+str1
    pop2017[key1] =  pop2017[str2[0] +str(i) + str2[1]] + pop2017[str3[0] +str(i) + str3[1]] + pop2017[str4[0] +str(i) + str4[1]] + pop2017[str5[0] +str(i) + str5[1]] + pop2017[str6[0] +str(i) + str6[1]] + pop2017[str7[0] +str(i) + str7[1]] + pop2017[str8[0] +str(i) + str8[1]] + pop2017[str9[0] +str(i) + str9[1]]

In [57]:

pop2009['10월_65세이상'] = pop2009['2009년10월_계_65~69세'] + pop2009['2009년10월_계_70~74세'] + pop2009['2009년10월_계_75~79세'] + pop2009['2009년10월_계_80~84세']+ pop2009['2009년10월_계_85~89세']+ pop2009['2009년10월_계_90~94세']+ pop2009['2009년10월_계_95~99세'] + pop2009['2009년10월_계_100세 이상']
pop2009['11월_65세이상'] = pop2009['2009년11월_계_65~69세'] + pop2009['2009년11월_계_70~74세'] + pop2009['2009년11월_계_75~79세'] + pop2009['2009년11월_계_80~84세']+ pop2009['2009년11월_계_85~89세']+ pop2009['2009년11월_계_90~94세']+ pop2009['2009년11월_계_95~99세'] + pop2009['2009년11월_계_100세 이상']
pop2009['12월_65세이상'] = pop2009['2009년12월_계_65~69세'] + pop2009['2009년12월_계_70~74세'] + pop2009['2009년12월_계_75~79세'] + pop2009['2009년12월_계_80~84세']+ pop2009['2009년12월_계_85~89세']+ pop2009['2009년12월_계_90~94세']+ pop2009['2009년12월_계_95~99세'] + pop2009['2009년12월_계_100세 이상']

In [58]:
pop2010['10월_65세이상'] = pop2010['2010년10월_계_65~69세'] + pop2010['2010년10월_계_70~74세'] + pop2010['2010년10월_계_75~79세'] + pop2010['2010년10월_계_80~84세']+ pop2010['2010년10월_계_85~89세']+ pop2010['2010년10월_계_90~94세']+ pop2010['2010년10월_계_95~99세'] + pop2010['2010년10월_계_100세 이상']
pop2010['11월_65세이상'] = pop2010['2010년11월_계_65~69세'] + pop2010['2010년11월_계_70~74세'] + pop2010['2010년11월_계_75~79세'] + pop2010['2010년11월_계_80~84세']+ pop2010['2010년11월_계_85~89세']+ pop2010['2010년11월_계_90~94세']+ pop2010['2010년11월_계_95~99세'] + pop2010['2010년11월_계_100세 이상']
pop2010['12월_65세이상'] = pop2010['2010년12월_계_65~69세'] + pop2010['2010년12월_계_70~74세'] + pop2010['2010년12월_계_75~79세'] + pop2010['2010년12월_계_80~84세']+ pop2010['2010년12월_계_85~89세']+ pop2010['2010년12월_계_90~94세']+ pop2010['2010년12월_계_95~99세'] + pop2010['2010년12월_계_100세 이상']

In [59]:
pop2011['10월_65세이상'] = pop2011['2011년10월_계_65~69세'] + pop2011['2011년10월_계_70~74세'] + pop2011['2011년10월_계_75~79세'] + pop2011['2011년10월_계_80~84세']+ pop2011['2011년10월_계_85~89세']+ pop2011['2011년10월_계_90~94세']+ pop2011['2011년10월_계_95~99세'] + pop2011['2011년10월_계_100세 이상']
pop2011['11월_65세이상'] = pop2011['2011년11월_계_65~69세'] + pop2011['2011년11월_계_70~74세'] + pop2011['2011년11월_계_75~79세'] + pop2011['2011년11월_계_80~84세']+ pop2011['2011년11월_계_85~89세']+ pop2011['2011년11월_계_90~94세']+ pop2011['2011년11월_계_95~99세'] + pop2011['2011년11월_계_100세 이상']
pop2011['12월_65세이상'] = pop2011['2011년12월_계_65~69세'] + pop2011['2011년12월_계_70~74세'] + pop2011['2011년12월_계_75~79세'] + pop2011['2011년12월_계_80~84세']+ pop2011['2011년12월_계_85~89세']+ pop2011['2011년12월_계_90~94세']+ pop2011['2011년12월_계_95~99세'] + pop2011['2011년12월_계_100세 이상']
pop2012['10월_65세이상'] = pop2012['2012년10월_계_65~69세'] + pop2012['2012년10월_계_70~74세'] + pop2012['2012년10월_계_75~79세'] + pop2012['2012년10월_계_80~84세']+ pop2012['2012년10월_계_85~89세']+ pop2012['2012년10월_계_90~94세']+ pop2012['2012년10월_계_95~99세'] + pop2012['2012년10월_계_100세 이상']
pop2012['11월_65세이상'] = pop2012['2012년11월_계_65~69세'] + pop2012['2012년11월_계_70~74세'] + pop2012['2012년11월_계_75~79세'] + pop2012['2012년11월_계_80~84세']+ pop2012['2012년11월_계_85~89세']+ pop2012['2012년11월_계_90~94세']+ pop2012['2012년11월_계_95~99세'] + pop2012['2012년11월_계_100세 이상']
pop2012['12월_65세이상'] = pop2012['2012년12월_계_65~69세'] + pop2012['2012년12월_계_70~74세'] + pop2012['2012년12월_계_75~79세'] + pop2012['2012년12월_계_80~84세']+ pop2012['2012년12월_계_85~89세']+ pop2012['2012년12월_계_90~94세']+ pop2012['2012년12월_계_95~99세'] + pop2012['2012년12월_계_100세 이상']

In [60]:
pop2013['10월_65세이상'] = pop2013['2013년10월_계_65~69세'] + pop2013['2013년10월_계_70~74세'] + pop2013['2013년10월_계_75~79세'] + pop2013['2013년10월_계_80~84세']+ pop2013['2013년10월_계_85~89세']+ pop2013['2013년10월_계_90~94세']+ pop2013['2013년10월_계_95~99세'] + pop2013['2013년10월_계_100세 이상']
pop2013['11월_65세이상'] = pop2013['2013년11월_계_65~69세'] + pop2013['2013년11월_계_70~74세'] + pop2013['2013년11월_계_75~79세'] + pop2013['2013년11월_계_80~84세']+ pop2013['2013년11월_계_85~89세']+ pop2013['2013년11월_계_90~94세']+ pop2013['2013년11월_계_95~99세'] + pop2013['2013년11월_계_100세 이상']
pop2013['12월_65세이상'] = pop2013['2013년12월_계_65~69세'] + pop2013['2013년12월_계_70~74세'] + pop2013['2013년12월_계_75~79세'] + pop2013['2013년12월_계_80~84세']+ pop2013['2013년12월_계_85~89세']+ pop2013['2013년12월_계_90~94세']+ pop2013['2013년12월_계_95~99세'] + pop2013['2013년12월_계_100세 이상']
pop2014['10월_65세이상'] = pop2014['2014년10월_계_65~69세'] + pop2014['2014년10월_계_70~74세'] + pop2014['2014년10월_계_75~79세'] + pop2014['2014년10월_계_80~84세']+ pop2014['2014년10월_계_85~89세']+ pop2014['2014년10월_계_90~94세']+ pop2014['2014년10월_계_95~99세'] + pop2014['2014년10월_계_100세 이상']
pop2014['11월_65세이상'] = pop2014['2014년11월_계_65~69세'] + pop2014['2014년11월_계_70~74세'] + pop2014['2014년11월_계_75~79세'] + pop2014['2014년11월_계_80~84세']+ pop2014['2014년11월_계_85~89세']+ pop2014['2014년11월_계_90~94세']+ pop2014['2014년11월_계_95~99세'] + pop2014['2014년11월_계_100세 이상']
pop2014['12월_65세이상'] = pop2014['2014년12월_계_65~69세'] + pop2014['2014년12월_계_70~74세'] + pop2014['2014년12월_계_75~79세'] + pop2014['2014년12월_계_80~84세']+ pop2014['2014년12월_계_85~89세']+ pop2014['2014년12월_계_90~94세']+ pop2014['2014년12월_계_95~99세'] + pop2014['2014년12월_계_100세 이상']
pop2015['10월_65세이상'] = pop2015['2015년10월_계_65~69세'] + pop2015['2015년10월_계_70~74세'] + pop2015['2015년10월_계_75~79세'] + pop2015['2015년10월_계_80~84세']+ pop2015['2015년10월_계_85~89세']+ pop2015['2015년10월_계_90~94세']+ pop2015['2015년10월_계_95~99세'] + pop2015['2015년10월_계_100세 이상']
pop2015['11월_65세이상'] = pop2015['2015년11월_계_65~69세'] + pop2015['2015년11월_계_70~74세'] + pop2015['2015년11월_계_75~79세'] + pop2015['2015년11월_계_80~84세']+ pop2015['2015년11월_계_85~89세']+ pop2015['2015년11월_계_90~94세']+ pop2015['2015년11월_계_95~99세'] + pop2015['2015년11월_계_100세 이상']
pop2015['12월_65세이상'] = pop2015['2015년12월_계_65~69세'] + pop2015['2015년12월_계_70~74세'] + pop2015['2015년12월_계_75~79세'] + pop2015['2015년12월_계_80~84세']+ pop2015['2015년12월_계_85~89세']+ pop2015['2015년12월_계_90~94세']+ pop2015['2015년12월_계_95~99세'] + pop2015['2015년12월_계_100세 이상']

In [61]:
pop2016['10월_65세이상'] = pop2016['2016년10월_계_65~69세'] + pop2016['2016년10월_계_70~74세'] + pop2016['2016년10월_계_75~79세'] + pop2016['2016년10월_계_80~84세']+ pop2016['2016년10월_계_85~89세']+ pop2016['2016년10월_계_90~94세']+ pop2016['2016년10월_계_95~99세'] + pop2016['2016년10월_계_100세 이상']
pop2016['11월_65세이상'] = pop2016['2016년11월_계_65~69세'] + pop2016['2016년11월_계_70~74세'] + pop2016['2016년11월_계_75~79세'] + pop2016['2016년11월_계_80~84세']+ pop2016['2016년11월_계_85~89세']+ pop2016['2016년11월_계_90~94세']+ pop2016['2016년11월_계_95~99세'] + pop2016['2016년11월_계_100세 이상']
pop2016['12월_65세이상'] = pop2016['2016년12월_계_65~69세'] + pop2016['2016년12월_계_70~74세'] + pop2016['2016년12월_계_75~79세'] + pop2016['2016년12월_계_80~84세']+ pop2016['2016년12월_계_85~89세']+ pop2016['2016년12월_계_90~94세']+ pop2016['2016년12월_계_95~99세'] + pop2016['2016년12월_계_100세 이상']
pop2017['10월_65세이상'] = pop2017['2017년10월_계_65~69세'] + pop2017['2017년10월_계_70~74세'] + pop2017['2017년10월_계_75~79세'] + pop2017['2017년10월_계_80~84세']+ pop2017['2017년10월_계_85~89세']+ pop2017['2017년10월_계_90~94세']+ pop2017['2017년10월_계_95~99세'] + pop2017['2017년10월_계_100세 이상']
pop2017['11월_65세이상'] = pop2017['2017년11월_계_65~69세'] + pop2017['2017년11월_계_70~74세'] + pop2017['2017년11월_계_75~79세'] + pop2017['2017년11월_계_80~84세']+ pop2017['2017년11월_계_85~89세']+ pop2017['2017년11월_계_90~94세']+ pop2017['2017년11월_계_95~99세'] + pop2017['2017년11월_계_100세 이상']
pop2017['12월_65세이상'] = pop2017['2017년12월_계_65~69세'] + pop2017['2017년12월_계_70~74세'] + pop2017['2017년12월_계_75~79세'] + pop2017['2017년12월_계_80~84세']+ pop2017['2017년12월_계_85~89세']+ pop2017['2017년12월_계_90~94세']+ pop2017['2017년12월_계_95~99세'] + pop2017['2017년12월_계_100세 이상']

In [62]:

senior2009 = pop2009[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2010 = pop2010[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2011 = pop2011[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2012 = pop2012[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2013 = pop2013[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2014 = pop2014[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2015 = pop2015[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2016 = pop2016[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]
senior2017 = pop2017[['지역번호', '지역', '1월_65세이상', '2월_65세이상','3월_65세이상','4월_65세이상','5월_65세이상', '6월_65세이상', '7월_65세이상','8월_65세이상','9월_65세이상','10월_65세이상','11월_65세이상','12월_65세이상']]

In [200]:
writer = pd.ExcelWriter('senior_monthly_rate.xlsx')
senior2009.to_excel(writer,'senior2009.xlsx')
senior2010.to_excel(writer,'senior2010.xlsx')
senior2011.to_excel(writer,'senior2011.xlsx')
senior2012.to_excel(writer,'senior2012.xlsx')
senior2013.to_excel(writer,'senior2013.xlsx')
senior2014.to_excel(writer,'senior2014.xlsx')
senior2015.to_excel(writer,'senior2015.xlsx')
senior2016.to_excel(writer,'senior2016.xlsx')
senior2017.to_excel(writer,'senior2017.xlsx')
writer.save()

In [63]:
str1 = '090'
str2 = '월_여성2030'
str3 = '월_65세이상'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2009[key1] = pop2009[str(i)+str2] / (pop2009[str(i)+str3] /2)

In [64]:
str1 = '100'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2010[key1] = pop2010[str(i)+str2] / (pop2010[str(i)+str3] /2)

In [65]:
str1 = '110'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2011[key1] = pop2011[str(i)+str2] / (pop2011[str(i)+str3] /2)

In [66]:
str1 = '120'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2012[key1] = pop2012[str(i)+str2] / (pop2012[str(i)+str3] /2)

In [67]:
str1 = '130'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2013[key1] = pop2013[str(i)+str2] / (pop2013[str(i)+str3] /2)

In [68]:
str1 = '140'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2014[key1] = pop2014[str(i)+str2] / (pop2014[str(i)+str3] /2)

In [69]:
str1 = '150'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2015[key1] = pop2015[str(i)+str2] / (pop2015[str(i)+str3] /2)

In [70]:
str1 = '160'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2016[key1] = pop2016[str(i)+str2] / (pop2016[str(i)+str3] /2)

In [71]:
str1 = '170'
for i in range(1,10):
    key1 = str1 + str(i)
    pop2017[key1] = pop2017[str(i)+str2] / (pop2017[str(i)+str3] /2)

In [72]:
pop2009['0910'] = pop2009['10월_여성2030'] / (pop2009['10월_65세이상'] / 2)
pop2009['0911'] = pop2009['11월_여성2030'] / (pop2009['11월_65세이상'] / 2)
pop2009['0912'] = pop2009['12월_여성2030'] / (pop2009['12월_65세이상'] / 2)

In [73]:
pop2010['1010'] = pop2010['10월_여성2030'] / (pop2010['10월_65세이상'] / 2)
pop2010['1011'] = pop2010['11월_여성2030'] / (pop2010['11월_65세이상'] / 2)
pop2010['1012'] = pop2010['12월_여성2030'] / (pop2010['12월_65세이상'] / 2)

In [74]:
pop2011['1110'] = pop2011['10월_여성2030'] / (pop2011['10월_65세이상'] / 2)
pop2011['1111'] = pop2011['11월_여성2030'] / (pop2011['11월_65세이상'] / 2)
pop2011['1112'] = pop2011['12월_여성2030'] / (pop2011['12월_65세이상'] / 2)

In [75]:
pop2012['1210'] = pop2012['10월_여성2030'] / (pop2012['10월_65세이상'] / 2)
pop2012['1211'] = pop2012['11월_여성2030'] / (pop2012['11월_65세이상'] / 2)
pop2012['1212'] = pop2012['12월_여성2030'] / (pop2012['12월_65세이상'] / 2)

In [76]:
pop2013['1310'] = pop2013['10월_여성2030'] / (pop2013['10월_65세이상'] / 2)
pop2013['1311'] = pop2013['11월_여성2030'] / (pop2013['11월_65세이상'] / 2)
pop2013['1312'] = pop2013['12월_여성2030'] / (pop2013['12월_65세이상'] / 2)

In [77]:
pop2014['1410'] = pop2014['10월_여성2030'] / (pop2014['10월_65세이상'] / 2)
pop2014['1411'] = pop2014['11월_여성2030'] / (pop2014['11월_65세이상'] / 2)
pop2014['1412'] = pop2014['12월_여성2030'] / (pop2014['12월_65세이상'] / 2)

In [78]:
pop2015['1510'] = pop2015['10월_여성2030'] / (pop2015['10월_65세이상'] / 2)
pop2015['1511'] = pop2015['11월_여성2030'] / (pop2015['11월_65세이상'] / 2)
pop2015['1512'] = pop2015['12월_여성2030'] / (pop2015['12월_65세이상'] / 2)

In [79]:
pop2016['1610'] = pop2016['10월_여성2030'] / (pop2016['10월_65세이상'] / 2)
pop2016['1611'] = pop2016['11월_여성2030'] / (pop2016['11월_65세이상'] / 2)
pop2016['1612'] = pop2016['12월_여성2030'] / (pop2016['12월_65세이상'] / 2)

In [80]:
pop2017['1710'] = pop2017['10월_여성2030'] / (pop2017['10월_65세이상'] / 2)
pop2017['1711'] = pop2017['11월_여성2030'] / (pop2017['11월_65세이상'] / 2)
pop2017['1712'] = pop2017['12월_여성2030'] / (pop2017['12월_65세이상'] / 2)

In [81]:
pop2009 = pop2009[['지역번호', '지역', '0901', '0902','0903', '0904', '0905','0906' , '0907' ,'0908' ,'0909', '0910', '0911', '0912']]

In [82]:
pop2009.head()

,지역번호,지역,0901,0902,0903,0904,0905,0906,0907,0908,0909,0910,0911,0912
0,1100000000,서울특별시,3.971172,3.953005,3.922461,3.890892,3.869695,3.855952,3.838901,3.816639,3.793204,3.771288,3.754395,3.733568
1,1111000000,서울특별시 종로구,2.776633,2.759012,2.739552,2.712477,2.700764,2.694907,2.681010,2.671770,2.651688,2.634439,2.628869,2.627111
2,1111051500,서울특별시 종로구 청운효자동,2.701867,2.690209,2.687534,2.682609,2.653722,2.646649,2.627745,2.626208,2.589429,2.594017,2.599359,2.597015
3,1111053000,서울특별시 종로구 사직동,2.474852,2.423616,2.405007,2.401171,2.388687,2.399126,2.418605,2.406363,2.436865,2.388125,2.387563,2.415641
4,1111054000,서울특별시 종로구 삼청동,1.925043,1.918644,1.891156,1.911111,1.911111,1.907216,1.944348,1.933682,1.929825,1.939929,1.921708,1.886121

In [232]:
pop2010.columns[-40:-10]

Index(['2010년03월_여_85~89세', '2010년03월_여_90~94세', '2010년03월_여_95~99세',
       '2010년03월_여_100세 이상', '1월_여성2030', '2월_여성2030', '3월_여성2030',
       '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030',
       '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030', '1월_65세이상',
       '2월_65세이상', '3월_65세이상', '4월_65세이상', '5월_65세이상', '6월_65세이상', '7월_65세이상',
       '8월_65세이상', '9월_65세이상', '10월_65세이상', '11월_65세이상', '12월_65세이상', '1001',
       '1002'],
      dtype='object')

In [83]:
pop2010 = pop2010[['지역번호', '지역', '1001', '1002','1003', '1004', '1005','1006' , '1007' ,'1008' ,'1009', '1010', '1011', '1012']]
pop2011 = pop2011[['지역번호', '지역', '1101', '1102','1103', '1104', '1105','1106' , '1107' ,'1108' ,'1109', '1110', '1111', '1112']]
pop2012 = pop2012[['지역번호', '지역', '1201', '1202','1203', '1204', '1205','1206' , '1207' ,'1208' ,'1209', '1210', '1211', '1212']]
pop2013 = pop2013[['지역번호', '지역', '1301', '1302','1303', '1304', '1305','1306' , '1307' ,'1308' ,'1309', '1310', '1311', '1312']]
pop2014 = pop2014[['지역번호', '지역', '1401', '1402','1403', '1404', '1405','1406' , '1407' ,'1408' ,'1409', '1410', '1411', '1412']]
pop2015 = pop2015[['지역번호', '지역', '1501', '1502','1503', '1504', '1505','1506' , '1507' ,'1508' ,'1509', '1510', '1511', '1512']]
pop2016 = pop2016[['지역번호', '지역', '1601', '1602','1603', '1604', '1605','1606' , '1607' ,'1608' ,'1609', '1610', '1611', '1612']]
pop2017 = pop2017[['지역번호', '지역', '1701', '1702','1703', '1704', '1705','1706' , '1707' ,'1708' ,'1709', '1710', '1711', '1712']]

In [84]:
writer = pd.ExcelWriter('pop_monthly_rate_re.xlsx')
pop2009.to_excel(writer,'pop2009.xlsx')
pop2010.to_excel(writer,'pop2010.xlsx')
pop2011.to_excel(writer,'pop2011.xlsx')
pop2012.to_excel(writer,'pop2012.xlsx')
pop2013.to_excel(writer,'pop2013.xlsx')
pop2014.to_excel(writer,'pop2014.xlsx')
pop2015.to_excel(writer,'pop2015.xlsx')
pop2016.to_excel(writer,'pop2016.xlsx')
pop2017.to_excel(writer,'pop2017.xlsx')
writer.save()