In [1]:
import pandas as pd

In [16]:

b_08 = pd.read_csv('C:/Users/DJA/Desktop/DataScience/birth/birthdata/birth_2008_1.csv')
b_08.head()

,지역번호,지역,801,801.1,801.2,801.3,801.4,801.5,801.6,801.7,801.8,801.9,801.10,801.11
0,1,전국,41182.0,41537.0,40749.0,39625.0,38863.0,35929.0,38009.0,36235.0,39768.0,41307.0,36111.0,41075.0
1,1100000000,서울특별시,8005.0,8618.0,8338.0,8137.0,8051.0,7398.0,7823.0,7394.0,8115.0,8523.0,7376.0,8463.0
2,1111000000,서울특별시 종로구,109.0,118.0,95.0,82.0,82.0,84.0,101.0,87.0,98.0,119.0,90.0,104.0
3,1111051000,서울특별시 종로구 청운동,4.0,1.0,2.0,2.0,2.0,2.0,3.0,1.0,2.0,1.0,0.0,NaN
4,1111051500,서울특별시 종로구 청운효자동,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,10.0

In [19]:

pop_code = pd.read_csv('C:/Users/DJA/Desktop/DataScience/pro_data/pop_code_u8.csv')


pop_code = pop_code.drop('지역', axis=1)

In [20]:
pop_code.head()

         지역번호
0  1100000000
1  1111000000
2  1111051000
3  1111052000
4  1111053000

In [22]:

p_b08 = pd.merge(pop_code, b_08, how='outer')

In [23]:
p_b08.head()

,지역번호,지역,801,801.1,801.2,801.3,801.4,801.5,801.6,801.7,801.8,801.9,801.10,801.11
0,1100000000,서울특별시,8005.0,8618.0,8338.0,8137.0,8051.0,7398.0,7823.0,7394.0,8115.0,8523.0,7376.0,8463.0
1,1111000000,서울특별시 종로구,109.0,118.0,95.0,82.0,82.0,84.0,101.0,87.0,98.0,119.0,90.0,104.0
2,1111051000,서울특별시 종로구 청운동,4.0,1.0,2.0,2.0,2.0,2.0,3.0,1.0,2.0,1.0,0.0,NaN
3,1111052000,서울특별시 종로구 효자동,9.0,7.0,13.0,7.0,11.0,6.0,10.0,6.0,5.0,7.0,0.0,NaN
4,1111053000,서울특별시 종로구 사직동,2.0,9.0,2.0,5.0,6.0,0.0,11.0,6.0,8.0,4.0,7.0,10.0