# 인구 소멸 위기 지역 분석
- 각 지역별 **20~30대 여성인구가 65이상 노인 인구에 비해 절반 이하**일 경우 인구 소멸 위험 지역으로 분류
- **2013년 2017년 5년의 데이터 활용** 
- 시도군, 연령별, 남여로 구분된 데이터 활용

In [2]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline 

#matplotlib의 결과를 IPython Notebook안에서 보여줍니다.

- csv파일로 matplotlib를 사용하게 되면 폰트가 깨지는 경우가 발생
- playform.system()을 Window os 로 지정 (맥일 경우 Darwin으로 하면 됩니다.)

In [3]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

- 인구데이터 불러오기 -> pandas.read_excel
- 데이터프레임 정리 함수 -> .fillna()

In [5]:
pop2013 = pd.read_excel('../bigdata/2013_pop.xls')
pop2013.fillna(method='pad', inplace=True)


pop2013.head()

,시군구,총인구수,총_20~24세,총_25~29세,총_30~34세,총_35~39세,총_40~44세,총_45~49세,총_50~54세,총_55~59세,...,여성_55~59세,여성_60~64세,여성_65~69세,여성_70~74세,여성_75~79세,여성_80~84세,여성_85~89세,여성_90~94세,여성_95~99세,여성_100세 이상
0,서울특별시 (1100000000),9989672,686286,764475,938132,805424,899773,804418,828599,727760,...,378809,264181,214709,175437,117755,70690,37357,14301,3035,480
1,서울특별시 종로구 (1111000000),154938,11240,12032,12405,10701,13981,13162,13435,11375,...,5678,4158,3826,3575,2439,1471,788,325,71,9
2,서울특별시 종로구 청운효자동(1111051500),14240,880,866,1050,1134,1417,1254,1147,811,...,417,360,346,339,229,139,69,33,9,0
3,서울특별시 종로구 사직동(1111053000),9501,592,668,803,763,839,755,758,731,...,380,279,236,237,177,106,49,23,5,0
4,서울특별시 종로구 삼청동(1111054000),3073,166,198,255,206,237,243,259,247,...,135,102,92,86,70,43,30,10,3,0

## 인구소멸위기지역 계산하여 새로운 열에 추가하기
- 여성 20~30대와 남성 20~30대 구하기 
- 65세 이상의 노인 인구수 구하기

In [6]:
pop2013['총_20-39세'] = pop2013['총_20~24세'] + pop2013['총_25~29세']+ pop2013['총_30~34세'] +  pop2013['총_35~39세'] 
pop2013['남성_20-39세'] = pop2013['남성_20~24세'] + pop2013['남성_25~29세']+ pop2013['남성_30~34세'] +  pop2013['남성_35~39세'] 
pop2013['여성_20-39세'] = pop2013['여성_20~24세'] + pop2013['여성_25~29세']+ pop2013['여성_30~34세'] +  pop2013['여성_35~39세'] 

pop2013.head()

,시군구,총인구수,총_20~24세,총_25~29세,총_30~34세,총_35~39세,총_40~44세,총_45~49세,총_50~54세,총_55~59세,...,여성_70~74세,여성_75~79세,여성_80~84세,여성_85~89세,여성_90~94세,여성_95~99세,여성_100세 이상,총_20-39세,남성_20-39세,여성_20-39세
0,서울특별시 (1100000000),9989672,686286,764475,938132,805424,899773,804418,828599,727760,...,175437,117755,70690,37357,14301,3035,480,3194317,1602715,1591602
1,서울특별시 종로구 (1111000000),154938,11240,12032,12405,10701,13981,13162,13435,11375,...,3575,2439,1471,788,325,71,9,46378,23557,22821
2,서울특별시 종로구 청운효자동(1111051500),14240,880,866,1050,1134,1417,1254,1147,811,...,339,229,139,69,33,9,0,3930,1853,2077
3,서울특별시 종로구 사직동(1111053000),9501,592,668,803,763,839,755,758,731,...,237,177,106,49,23,5,0,2826,1310,1516
4,서울특별시 종로구 삼청동(1111054000),3073,166,198,255,206,237,243,259,247,...,86,70,43,30,10,3,0,825,415,410

In [7]:
pop2013['총_65세이상'] = pop2013['총_65~69세'] + pop2013['총_70~74세']+ pop2013['총_75~79세'] +  pop2013['총_80~84세'] + pop2013['총_85~89세']+ pop2013['총_90~94세'] +  pop2013['총_95~99세'] + pop2013['총_100세 이상']

pop2013['남성_65세이상'] = pop2013['남성_65~69세'] + pop2013['남성_70~74세']+ pop2013['남성_75~79세'] +  pop2013['남성_80~84세'] + pop2013['남성_85~89세']+ pop2013['남성_90~94세'] +  pop2013['남성_95~99세'] + pop2013['남성_100세 이상']

pop2013['여성_65세이상'] = pop2013['여성_65~69세'] + pop2013['여성_70~74세']+ pop2013['여성_75~79세'] +  pop2013['여성_80~84세'] + pop2013['여성_85~89세']+ pop2013['여성_90~94세'] +  pop2013['여성_95~99세'] + pop2013['여성_100세 이상']


pop2013.head()

,시군구,총인구수,총_20~24세,총_25~29세,총_30~34세,총_35~39세,총_40~44세,총_45~49세,총_50~54세,총_55~59세,...,여성_85~89세,여성_90~94세,여성_95~99세,여성_100세 이상,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상
0,서울특별시 (1100000000),9989672,686286,764475,938132,805424,899773,804418,828599,727760,...,37357,14301,3035,480,3194317,1602715,1591602,1127445,493681,633764
1,서울특별시 종로구 (1111000000),154938,11240,12032,12405,10701,13981,13162,13435,11375,...,788,325,71,9,46378,23557,22821,22260,9756,12504
2,서울특별시 종로구 청운효자동(1111051500),14240,880,866,1050,1134,1417,1254,1147,811,...,69,33,9,0,3930,1853,2077,1970,806,1164
3,서울특별시 종로구 사직동(1111053000),9501,592,668,803,763,839,755,758,731,...,49,23,5,0,2826,1310,1516,1477,644,833
4,서울특별시 종로구 삼청동(1111054000),3073,166,198,255,206,237,243,259,247,...,30,10,3,0,825,415,410,594,260,334

## 데이터프레임 정리하기_필요없는 열 삭제

In [8]:
pop2013.columns

Index(['시군구', '총인구수', '총_20~24세', '총_25~29세', '총_30~34세', '총_35~39세',
       '총_40~44세', '총_45~49세', '총_50~54세', '총_55~59세', '총_60~64세', '총_65~69세',
       '총_70~74세', '총_75~79세', '총_80~84세', '총_85~89세', '총_90~94세', '총_95~99세',
       '총_100세 이상', '남성_총인구수', '남성_20~24세', '남성_25~29세', '남성_30~34세',
       '남성_35~39세', '남성_40~44세', '남성_45~49세', '남성_50~54세', '남성_55~59세',
       '남성_60~64세', '남성_65~69세', '남성_70~74세', '남성_75~79세', '남성_80~84세',
       '남성_85~89세', '남성_90~94세', '남성_95~99세', '남성_100세 이상', '여성_총인구수',
       '여성_20~24세', '여성_25~29세', '여성_30~34세', '여성_35~39세', '여성_40~44세',
       '여성_45~49세', '여성_50~54세', '여성_55~59세', '여성_60~64세', '여성_65~69세',
       '여성_70~74세', '여성_75~79세', '여성_80~84세', '여성_85~89세', '여성_90~94세',
       '여성_95~99세', '여성_100세 이상', '총_20-39세', '남성_20-39세', '여성_20-39세',
       '총_65세이상', '남성_65세이상', '여성_65세이상'],
      dtype='object')

In [9]:
pop2013_1 = pop2013[['총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상', '남성_65세이상', '여성_65세이상']]

pop2013_1.head()

      총인구수  총_20-39세  남성_20-39세  여성_20-39세  총_65세이상  남성_65세이상  여성_65세이상
0  9989672   3194317    1602715    1591602  1127445    493681    633764
1   154938     46378      23557      22821    22260      9756     12504
2    14240      3930       1853       2077     1970       806      1164
3     9501      2826       1310       1516     1477       644       833
4     3073       825        415        410      594       260       334

## Index를 지역 시군구로 정함

In [10]:
pop2013_1.index = pop2013[['시군구']]
pop2013_1.head()

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상
"(서울특별시 (1100000000),)",9989672,3194317,1602715,1591602,1127445,493681,633764
"(서울특별시 종로구 (1111000000),)",154938,46378,23557,22821,22260,9756,12504
"(서울특별시 종로구 청운효자동(1111051500),)",14240,3930,1853,2077,1970,806,1164
"(서울특별시 종로구 사직동(1111053000),)",9501,2826,1310,1516,1477,644,833
"(서울특별시 종로구 삼청동(1111054000),)",3073,825,415,410,594,260,334

## 노인 인구 65세이상의 절반보다 여성20-30대가 더 적을 경우 소멸위기지역이며 소멸비율을 계산 
- 소멸비율이 1보다 작을 경우 위험한 지역, 1이상일 경우 소멸 위험 지역에 해당이 안됨

In [11]:
pop2013_1.is_copy = False

pop2013_1['소멸비율'] = pop2013_1['여성_20-39세'] / (pop2013_1['총_65세이상'] / 2)
pop2013_1.head()

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율
"(서울특별시 (1100000000),)",9989672,3194317,1602715,1591602,1127445,493681,633764,2.823379
"(서울특별시 종로구 (1111000000),)",154938,46378,23557,22821,22260,9756,12504,2.050404
"(서울특별시 종로구 청운효자동(1111051500),)",14240,3930,1853,2077,1970,806,1164,2.108629
"(서울특별시 종로구 사직동(1111053000),)",9501,2826,1310,1516,1477,644,833,2.052810
"(서울특별시 종로구 삼청동(1111054000),)",3073,825,415,410,594,260,334,1.380471

## 소멸비율이 1보다 작은 지역일 경우 소멸위기지역이라고 새로운 열을 생성

In [12]:
pop2013_1['소멸위기지역'] = pop2013_1['소멸비율'] < 1.0
pop2013_1.head()

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(서울특별시 (1100000000),)",9989672,3194317,1602715,1591602,1127445,493681,633764,2.823379,False
"(서울특별시 종로구 (1111000000),)",154938,46378,23557,22821,22260,9756,12504,2.050404,False
"(서울특별시 종로구 청운효자동(1111051500),)",14240,3930,1853,2077,1970,806,1164,2.108629,False
"(서울특별시 종로구 사직동(1111053000),)",9501,2826,1310,1516,1477,644,833,2.052810,False
"(서울특별시 종로구 삼청동(1111054000),)",3073,825,415,410,594,260,334,1.380471,False

## 2013년 가장 소멸 비율이 높은 지역 30위까지 보여줌

In [13]:
data2013 = pop2013_1.sort_values(by='소멸비율', ascending=True)
data2013.head(30)

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(경상북도 의성군 신평면(4773045000),)",827,72,53,19,442,180,262,0.085973,True
"(경상북도 상주시 은척면북부출장소(4725044500),)",389,23,14,9,200,86,114,0.090000,True
"(전라남도 진도군 조도면가사출장소(4690036500),)",283,34,26,8,129,46,83,0.124031,True
"(경상북도 의성군 안사면(4773047000),)",919,87,57,30,446,163,283,0.134529,True
"(강원도 철원군 근북면(4278033000),)",116,13,9,4,58,28,30,0.137931,True
"(인천광역시 강화군 서도면볼음출장소(2871042500),)",247,24,15,9,124,62,62,0.145161,True
"(경상남도 통영시 한산면(4822036000),)",2288,253,177,76,1022,413,609,0.148728,True
"(전라남도 고흥군 도양읍소록출장소(4677025400),)",757,60,26,34,456,229,227,0.149123,True
"(경상남도 거창군 가북면(4888041000),)",1421,149,95,54,669,257,412,0.161435,True
"(경상북도 의성군 사곡면(4773034000),)",1678,183,122,61,736,286,450,0.165761,True
"(경상북도 영덕군 지품면원전출장소(4777034500),)",651,61,37,24,289,115,174,0.166090,True
"(충청남도 서천군 시초면(4477036000),)",1319,145,92,53,630,245,385,0.168254,True
"(경상북도 군위군 고로면(4772037000),)",1313,163,118,45,531,223,308,0.169492,True
"(전라남도 여수시 화정면(4613035000),)",1530,186,125,61,702,255,447,0.173789,True
"(경상북도 상주시 이안면(4725046000),)",2208,245,158,87,969,383,586,0.179567,True
"(전라남도 완도군 청산면모도출장소(4689035500),)",240,28,17,11,122,46,76,0.180328,True
"(경상북도 영덕군 창수면(4777038000),)",1892,215,132,83,894,372,522,0.185682,True
"(경상북도 군위군 산성면(4772036000),)",1285,156,102,54,579,219,360,0.186528,True
"(경상남도 함양군 유림면(4887033000),)",1798,189,108,81,867,311,556,0.186851,True
"(경상북도 포항시 북구 기북면(4711336000),)",1284,160,108,52,550,212,338,0.189091,True
"(경상남도 합천군 쌍백면(4889042000),)",2009,242,149,93,975,338,637,0.190769,True
"(강원도 삼척시 노곡면(4223033000),)",796,91,60,31,322,125,197,0.192547,True
"(전라남도 고흥군 두원면(4677042000),)",3423,403,240,163,1677,633,1044,0.194395,True
"(충청북도 영동군 용화면(4374037000),)",1037,125,84,41,418,173,245,0.196172,True
"(경상남도 의령군 유곡면(4872042000),)",1368,162,98,64,651,227,424,0.196621,True
"(경상북도 영양군 청기면(4776032000),)",1881,219,141,78,792,329,463,0.196970,True
"(경상남도 통영시 사량면(4822037000),)",1583,195,132,63,637,227,410,0.197802,True
"(전라남도 순천시 외서면(4615037000),)",1023,124,81,43,433,152,281,0.198614,True
"(경상북도 의성군 안평면(4773046000),)",2244,274,173,101,1013,418,595,0.199408,True
"(전라남도 고흥군 영남면(4677044000),)",1505,188,120,68,671,244,427,0.202683,True

In [14]:
len(data2013[data2013['소멸위기지역']==True])

1379

## 2013_위기소멸지역 데이터를 저장하기

In [17]:
data2013.to_csv('../bigdata/2013_revised_pop.xls', sep=',', encoding='UTF-8')

## 2014~2017년도도 위와 같이 데이터 처리 작업
- for구문으로 함수로 만들어서 돌리면되겠지만.. 아직 복붙이 편해서 일단 복붙으로 했음..
- 2013~17년도까지의 소멸위기지역까지의 수정 데이터를 생성 후 xls파일로 저장

In [29]:
pop2014 = pd.read_excel('../bigdata/2014_pop.xls')
pop2014.fillna(method='pad', inplace=True)

pop2015 = pd.read_excel('../bigdata/2015_pop.xls')
pop2015.fillna(method='pad', inplace=True)

pop2016 = pd.read_excel('../bigdata/2016_pop.xls')
pop2016.fillna(method='pad', inplace=True)

pop2017 = pd.read_excel('../bigdata/2017_pop.xls')
pop2017.fillna(method='pad', inplace=True)

pop2014['총_20-39세'] = pop2014['총_20~24세'] + pop2014['총_25~29세']+ pop2014['총_30~34세'] +  pop2014['총_35~39세'] 
pop2014['남성_20-39세'] = pop2014['남성_20~24세'] + pop2014['남성_25~29세']+ pop2014['남성_30~34세'] +  pop2014['남성_35~39세'] 
pop2014['여성_20-39세'] = pop2014['여성_20~24세'] + pop2014['여성_25~29세']+ pop2014['여성_30~34세'] +  pop2014['여성_35~39세'] 
pop2014['총_65세이상'] = pop2014['총_65~69세'] + pop2014['총_70~74세']+ pop2014['총_75~79세'] + pop2014['총_80~84세'] + pop2014['총_85~89세']+ pop2014['총_90~94세'] +  pop2014['총_95~99세'] + pop2014['총_100세 이상']
pop2014['남성_65세이상'] = pop2014['남성_65~69세'] + pop2014['남성_70~74세']+ pop2014['남성_75~79세'] + pop2014['남성_80~84세'] + pop2014['남성_85~89세']+ pop2014['남성_90~94세'] +  pop2014['남성_95~99세'] + pop2014['남성_100세 이상']
pop2014['여성_65세이상'] = pop2014['여성_65~69세'] + pop2014['여성_70~74세']+ pop2014['여성_75~79세'] + pop2014['여성_80~84세'] + pop2014['여성_85~89세']+ pop2014['여성_90~94세'] +  pop2014['여성_95~99세'] + pop2014['여성_100세 이상']

pop2015['총_20-39세'] = pop2015['총_20~24세'] + pop2015['총_25~29세']+ pop2015['총_30~34세'] +  pop2015['총_35~39세'] 
pop2015['남성_20-39세'] = pop2015['남성_20~24세'] + pop2015['남성_25~29세']+ pop2015['남성_30~34세'] +  pop2015['남성_35~39세'] 
pop2015['여성_20-39세'] = pop2015['여성_20~24세'] + pop2015['여성_25~29세']+ pop2015['여성_30~34세'] +  pop2015['여성_35~39세'] 
pop2015['총_65세이상'] = pop2015['총_65~69세'] + pop2015['총_70~74세']+ pop2015['총_75~79세'] + pop2015['총_80~84세'] + pop2014['총_85~89세']+ pop2015['총_90~94세'] +  pop2015['총_95~99세'] + pop2015['총_100세 이상']
pop2015['남성_65세이상'] = pop2015['남성_65~69세'] + pop2015['남성_70~74세']+ pop2015['남성_75~79세'] + pop2015['남성_80~84세'] + pop2015['남성_85~89세']+ pop2015['남성_90~94세'] +  pop2015['남성_95~99세'] + pop2015['남성_100세 이상']
pop2015['여성_65세이상'] = pop2015['여성_65~69세'] + pop2015['여성_70~74세']+ pop2015['여성_75~79세'] + pop2015['여성_80~84세'] + pop2015['여성_85~89세']+ pop2015['여성_90~94세'] +  pop2015['여성_95~99세'] + pop2015['여성_100세 이상']

pop2016['총_20-39세'] = pop2016['총_20~24세'] + pop2016['총_25~29세']+ pop2016['총_30~34세'] +  pop2016['총_35~39세'] 
pop2016['남성_20-39세'] = pop2016['남성_20~24세'] + pop2016['남성_25~29세']+ pop2016['남성_30~34세'] +  pop2016['남성_35~39세'] 
pop2016['여성_20-39세'] = pop2016['여성_20~24세'] + pop2016['여성_25~29세']+ pop2016['여성_30~34세'] +  pop2016['여성_35~39세'] 
pop2016['총_65세이상'] = pop2016['총_65~69세'] + pop2016['총_70~74세']+ pop2016['총_75~79세'] + pop2016['총_80~84세'] + pop2016['총_85~89세']+ pop2016['총_90~94세'] +  pop2016['총_95~99세'] + pop2016['총_100세 이상']
pop2016['남성_65세이상'] = pop2016['남성_65~69세'] + pop2016['남성_70~74세']+ pop2016['남성_75~79세'] + pop2016['남성_80~84세'] + pop2016['남성_85~89세']+ pop2016['남성_90~94세'] +  pop2016['남성_95~99세'] + pop2016['남성_100세 이상']
pop2016['여성_65세이상'] = pop2016['여성_65~69세'] + pop2016['여성_70~74세']+ pop2016['여성_75~79세'] + pop2016['여성_80~84세'] + pop2016['여성_85~89세']+ pop2016['여성_90~94세'] +  pop2016['여성_95~99세'] + pop2016['여성_100세 이상']

pop2017['총_20-39세'] = pop2017['총_20~24세'] + pop2017['총_25~29세']+ pop2017['총_30~34세'] +  pop2017['총_35~39세'] 
pop2017['남성_20-39세'] = pop2017['남성_20~24세'] + pop2017['남성_25~29세']+ pop2017['남성_30~34세'] +  pop2017['남성_35~39세'] 
pop2017['여성_20-39세'] = pop2017['여성_20~24세'] + pop2017['여성_25~29세']+ pop2017['여성_30~34세'] +  pop2017['여성_35~39세'] 
pop2017['총_65세이상'] = pop2017['총_65~69세'] + pop2017['총_70~74세']+ pop2017['총_75~79세'] + pop2017['총_80~84세'] + pop2017['총_85~89세']+ pop2017['총_90~94세'] +  pop2017['총_95~99세'] + pop2017['총_100세 이상']
pop2017['남성_65세이상'] = pop2017['남성_65~69세'] + pop2017['남성_70~74세']+ pop2017['남성_75~79세'] + pop2017['남성_80~84세'] + pop2017['남성_85~89세']+ pop2017['남성_90~94세'] +  pop2017['남성_95~99세'] + pop2017['남성_100세 이상']
pop2017['여성_65세이상'] = pop2017['여성_65~69세'] + pop2017['여성_70~74세']+ pop2017['여성_75~79세'] + pop2017['여성_80~84세'] + pop2017['여성_85~89세']+ pop2017['여성_90~94세'] +  pop2017['여성_95~99세'] + pop2017['여성_100세 이상']

In [33]:
pop2014_1 = pop2014[['총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상', '남성_65세이상', '여성_65세이상']]
pop2015_1 = pop2015[['총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상', '남성_65세이상', '여성_65세이상']]
pop2016_1 = pop2016[['총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상', '남성_65세이상', '여성_65세이상']]
pop2017_1 = pop2017[['총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상', '남성_65세이상', '여성_65세이상']]

pop2014_1.index = pop2014[['시군구']]
pop2015_1.index = pop2015[['시군구']]
pop2016_1.index = pop2016[['시군구']]
pop2017_1.index = pop2017[['시군구']]

pop2014_1.is_copy = False
pop2014_1['소멸비율'] = pop2014_1['여성_20-39세'] / (pop2014_1['총_65세이상'] / 2)
pop2015_1.is_copy = False
pop2015_1['소멸비율'] = pop2015_1['여성_20-39세'] / (pop2015_1['총_65세이상'] / 2)
pop2016_1.is_copy = False
pop2016_1['소멸비율'] = pop2016_1['여성_20-39세'] / (pop2016_1['총_65세이상'] / 2)
pop2017_1.is_copy = False
pop2017_1['소멸비율'] = pop2017_1['여성_20-39세'] / (pop2017_1['총_65세이상'] / 2)

pop2014_1['소멸위기지역'] = pop2014_1['소멸비율'] < 1.0
pop2015_1['소멸위기지역'] = pop2015_1['소멸비율'] < 1.0
pop2016_1['소멸위기지역'] = pop2016_1['소멸비율'] < 1.0
pop2017_1['소멸위기지역'] = pop2017_1['소멸비율'] < 1.0

data2014 = pop2014_1.sort_values(by='소멸비율', ascending=True)
data2015 = pop2015_1.sort_values(by='소멸비율', ascending=True)
data2016 = pop2016_1.sort_values(by='소멸비율', ascending=True)
data2017 = pop2017_1.sort_values(by='소멸비율', ascending=True)

data2014.to_csv('../bigdata/2014_revised_pop.xls', sep=',', encoding='UTF-8')
data2015.to_csv('../bigdata/2015_revised_pop.xls', sep=',', encoding='UTF-8')
data2016.to_csv('../bigdata/2016_revised_pop.xls', sep=',', encoding='UTF-8')
data2017.to_csv('../bigdata/2017_revised_pop.xls', sep=',', encoding='UTF-8')

## 매 년마다 나오는 시군구,읍면이 다르게 나와서 행수가 다름..

In [37]:
print(len(data2013[data2013['소멸위기지역']==True]))
print(len(data2014[data2014['소멸위기지역']==True]))
print(len(data2015[data2015['소멸위기지역']==True]))
print(len(data2016[data2016['소멸위기지역']==True]))
print(len(data2017[data2017['소멸위기지역']==True]))

1379
1438
1528
1518
1597

# 2013년도 부터 2017년도까지의 소멸위험지역 best10 출력

In [39]:
data2013.head(10)

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(경상북도 의성군 신평면(4773045000),)",827,72,53,19,442,180,262,0.085973,True
"(경상북도 상주시 은척면북부출장소(4725044500),)",389,23,14,9,200,86,114,0.090000,True
"(전라남도 진도군 조도면가사출장소(4690036500),)",283,34,26,8,129,46,83,0.124031,True
"(경상북도 의성군 안사면(4773047000),)",919,87,57,30,446,163,283,0.134529,True
"(강원도 철원군 근북면(4278033000),)",116,13,9,4,58,28,30,0.137931,True
"(인천광역시 강화군 서도면볼음출장소(2871042500),)",247,24,15,9,124,62,62,0.145161,True
"(경상남도 통영시 한산면(4822036000),)",2288,253,177,76,1022,413,609,0.148728,True
"(전라남도 고흥군 도양읍소록출장소(4677025400),)",757,60,26,34,456,229,227,0.149123,True
"(경상남도 거창군 가북면(4888041000),)",1421,149,95,54,669,257,412,0.161435,True
"(경상북도 의성군 사곡면(4773034000),)",1678,183,122,61,736,286,450,0.165761,True

In [41]:
data2014.head(10)

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(경상북도 의성군 신평면(4773045000),)",810,63,44,19,445,180,265,0.085393,True
"(경상북도 상주시 은척면북부출장소(4725044500),)",376,25,15,10,198,86,112,0.101010,True
"(전라남도 고흥군 도양읍소록출장소(4677025400),)",746,49,22,27,469,237,232,0.115139,True
"(경상북도 의성군 안사면(4773047000),)",899,83,56,27,457,169,288,0.118162,True
"(전라남도 진도군 조도면가사출장소(4690036500),)",292,33,25,8,128,47,81,0.125000,True
"(경상북도 영덕군 지품면원전출장소(4777034500),)",645,59,40,19,280,113,167,0.135714,True
"(경상남도 통영시 한산면(4822036000),)",2260,229,158,71,1027,410,617,0.138267,True
"(인천광역시 강화군 서도면볼음출장소(2871042500),)",254,22,13,9,123,59,64,0.146341,True
"(강원도 삼척시 노곡면(4223033000),)",771,75,51,24,318,121,197,0.150943,True
"(충청남도 서천군 시초면(4477036000),)",1353,139,88,51,651,252,399,0.156682,True

In [42]:
data2015.head(10)

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(경상북도 울진군 매화면(4793040000),)",2289,228,141,87,27495.0,349,669,0.006328,True
"(전라남도 신안군 신의면(4691038000),)",1777,369,212,157,28973.0,176,280,0.010838,True
"(충청북도 단양군 대강면(4380031000),)",2482,280,158,122,21703.0,358,526,0.011243,True
"(충청남도 태안군 고남면(4482531000),)",2608,318,188,130,20867.0,356,537,0.012460,True
"(전라북도 부안군 진서면(4580037000),)",2537,415,220,195,24394.0,334,424,0.015988,True
"(경상북도 영덕군 지품면원전출장소(4777034500),)",647,52,36,16,1186.0,115,172,0.026981,True
"(경기도 양평군 단월면(4183036000),)",3580,621,351,270,16098.0,467,580,0.033545,True
"(경상남도 합천군 대양면(4889041000),)",1693,200,110,90,5243.0,247,481,0.034331,True
"(경상북도 상주시 은척면북부출장소(4725044500),)",373,17,12,5,278.0,82,116,0.035971,True
"(경상남도 합천군 쌍백면(4889042000),)",1925,192,118,74,4039.0,339,646,0.036643,True

In [43]:
data2016.head(10)

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(경상북도 상주시 은척면북부출장소(4725044500),)",363,12,9,3,192,81,111,0.031250,True
"(경상북도 의성군 신평면(4773045000),)",804,58,38,20,443,178,265,0.090293,True
"(경상북도 영덕군 지품면원전출장소(4777034500),)",623,45,30,15,299,120,179,0.100334,True
"(전라남도 고흥군 도양읍소록출장소(4677025400),)",674,33,10,23,457,225,232,0.100656,True
"(인천광역시 강화군 서도면볼음출장소(2871042500),)",267,18,11,7,134,66,68,0.104478,True
"(경상북도 의성군 안사면(4773047000),)",857,67,42,25,448,169,279,0.111607,True
"(전라남도 진도군 조도면가사출장소(4690036500),)",290,28,20,8,127,48,79,0.125984,True
"(경상북도 군위군 산성면(4772036000),)",1245,119,80,39,616,247,369,0.126623,True
"(강원도 삼척시 노곡면(4223033000),)",782,62,41,21,311,126,185,0.135048,True
"(강원도 철원군 근북면(4278033000),)",109,11,7,4,59,27,32,0.135593,True

In [44]:
data2017.head(10)

,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상,소멸비율,소멸위기지역
"(경상북도 상주시 은척면북부출장소(4725044500),)",382,20,13,7,192,78,114,0.072917,True
"(인천광역시 옹진군 대청면소청출장소(2872034500),)",259,59,55,4,89,38,51,0.089888,True
"(전라남도 고흥군 도양읍소록출장소(4677025400),)",662,31,9,22,459,228,231,0.095861,True
"(경상북도 의성군 신평면(4773045000),)",811,57,34,23,441,177,264,0.104308,True
"(경상북도 영덕군 지품면원전출장소(4777034500),)",612,44,28,16,304,124,180,0.105263,True
"(인천광역시 강화군 서도면볼음출장소(2871042500),)",269,21,14,7,129,62,67,0.108527,True
"(경상북도 군위군 고로면(4772037000),)",1314,109,76,33,601,257,344,0.109817,True
"(경상북도 의성군 안사면(4773047000),)",856,69,43,26,445,167,278,0.116854,True
"(경상남도 거창군 신원면(4888039000),)",1559,137,88,49,787,311,476,0.124524,True
"(경상북도 영덕군 창수면(4777038000),)",1796,151,92,59,900,378,522,0.131111,True