In [40]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

In [42]:
birth2008 = pd.read_csv('../birth/birthdata/birth_2008_1.csv')
birth2009 = pd.read_csv('../birth/birthdata/birth_2009_1.csv')
birth2010 = pd.read_csv('../birth/birthdata/birth_2010_1.csv')
birth2011 = pd.read_csv('../birth/birthdata/birth_2011_1.csv')
birth2012 = pd.read_csv('../birth/birthdata/birth_2012_1.csv')
birth2013 = pd.read_csv('../birth/birthdata/birth_2013_1.csv')
birth2014 = pd.read_csv('../birth/birthdata/birth_2014_1.csv')
birth2015 = pd.read_csv('../birth/birthdata/birth_2015_1.csv')
birth2016 = pd.read_csv('../birth/birthdata/birth_2016_1.csv')
birth2017 = pd.read_csv('../birth/birthdata/birth_2017_1.csv')

In [43]:
table = pd.read_csv('../pro_data/pop_table1.csv')

In [49]:
table.head()

              지역        지역번호
0        서울특별시    1100000000
1     서울특별시 종로구   1111000000
2  서울특별시 종로구 청운동  1111051000
3  서울특별시 종로구 효자동  1111052000
4  서울특별시 종로구 사직동  1111053000

In [46]:
birth = pd.merge(birth2008,table, how='outer')
birth = pd.merge(birth2009, birth, how='outer')
birth = pd.merge(birth2010, birth, how='outer')
birth = pd.merge(birth2011, birth, how='outer')
birth = pd.merge(birth2012, birth, how='outer')
birth = pd.merge(birth2013, birth, how='outer')
birth = pd.merge(birth2014, birth, how='outer')
birth = pd.merge(birth2015, birth, how='outer')
birth = pd.merge(birth2016, birth, how='outer')
birth = pd.merge(birth2017, birth, how='outer')

In [50]:
birth.head()

,지역번호,지역,1701,1702,1703,1704,1705,1706,1707,1708,...,801.2,801.3,801.4,801.5,801.6,801.7,801.8,801.9,801.10,801.11
0,1,전국,30862.0,32241.0,33836.0,29242.0,33174.0,29911.0,28843.0,31291.0,...,40749.0,39625.0,38863.0,35929.0,38009.0,36235.0,39768.0,41307.0,36111.0,41075.0
1,1100000000,서울특별시,5525.0,5921.0,6283.0,5382.0,6041.0,5514.0,5218.0,5609.0,...,8338.0,8137.0,8051.0,7398.0,7823.0,7394.0,8115.0,8523.0,7376.0,8463.0
2,1111000000,서울특별시 종로구,75.0,62.0,54.0,44.0,63.0,62.0,60.0,57.0,...,95.0,82.0,82.0,84.0,101.0,87.0,98.0,119.0,90.0,104.0
3,1111051500,서울특별시 종로구 청운효자동,6.0,11.0,12.0,7.0,3.0,7.0,9.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,10.0
4,1111053000,서울특별시 종로구 사직동,5.0,6.0,2.0,4.0,4.0,5.0,5.0,2.0,...,2.0,5.0,6.0,0.0,11.0,6.0,8.0,4.0,7.0,10.0

In [48]:
writer = pd.ExcelWriter('birth.xlsx')
birth.to_excel(writer, 'birth.xlsx' )
writer.save()